<div class="cards-container">
  <div
    *ngFor="let card of cards; let i = index"
    [class]="getCardClasses(card)"
    [attr.data-type]="card.type">

    <!-- Upload PrimeNG caché avec design personnalisé -->
    <div class="custom-upload-wrapper" *ngIf="!card.disabled">
      <p-fileUpload
        #fileUpload
        [url]="uploadUrl"
        [accept]="acceptedTypes"
        [maxFileSize]="maxFileSize"
        [auto]="false"
        [multiple]="false"
        [customUpload]="true"
        [showUploadButton]="false"
        [showCancelButton]="false"
        [chooseLabel]="''"
        [chooseIcon]="''"
        (onSelect)="onFileSelected($event, card)"
        (onRemove)="onFileRemoved($event, card)"
        (uploadHandler)="uploadFiles($event,card)"
        class="custom-file-upload">

        <!-- Template personnalisé pour le contenu -->
        <ng-template pTemplate="content">
          <div class="upload-content" (click)="triggerFileSelect(i)">
            <div class="card-icon">
              <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"/>
              </svg>
            </div>

            <h3 class="card-title">{{ card.title }}</h3>
            <p class="card-subtitle">{{ card.subtitle }}</p>

            <div [class]="getStatusClasses(card)" *ngIf="card.status">
              {{ card.status }}
            </div>

            <!-- Aperçu du fichier sélectionné -->
            <div class="file-preview" *ngIf="card.file && !card.isUploaded">
              <div class="file-info">
                <i class="pi pi-file"></i>
                <span class="file-name">{{ card.file.name }}</span>
                <button
                  type="button"
                  class="remove-file-btn"
                  (click)="removeFile(card, $event)">
                  <i class="pi pi-times"></i>
                </button>
              </div>

              <button
                type="button"
                class="upload-btn"
                (click)="startUpload(card, $event)"
                [disabled]="card.isUploading">
                    <span *ngIf="!card.isUploading">
                      <i class="pi pi-upload"></i> Uploader
                    </span>
                <span *ngIf="card.isUploading">
                      <i class="pi pi-spin pi-spinner"></i> Upload...
                    </span>
              </button>
            </div>
          </div>
        </ng-template>

        <!-- Template vide pour masquer l'interface par défaut -->
        <ng-template pTemplate="toolbar">
          <div></div>
        </ng-template>
      </p-fileUpload>
    </div>

    <!-- Carte désactivée -->
    <div class="disabled-content" *ngIf="card.disabled">
      <div class="card-icon">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"/>
        </svg>
      </div>

      <h3 class="card-title">{{ card.title }}</h3>
      <p class="card-subtitle">{{ card.subtitle }}</p>

      <div class="upload-status show">
        Non disponible
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
