#steps_title{
  color:white;
  font-size:44px;
  padding:40px;
  border:none;
}
.stepper-wrapper {
  position: relative;
  margin:0 auto;
  margin-bottom: 30px;
}
.stepper{
  border-radius:10px;
}
.btn-next{
  padding: 10px;
  margin-top: 60px;
  border-radius: 10px;
  font-size: 13px;
  background: rgba(254, 241, 224, 0.9882352941);
  color: #292c32;
  font-weight: 600;
}

.progress-bar {
  height: 5px;
  background-color: #ddd;
  width: 100%;
  position: absolute;
  top: 17px;
  z-index: 0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.4s ease-in-out;
}

.stepper {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  border-radius:10px;
}

.step {
  width: 40px;
  height: 40px;
  background-color: #007e5e;
  color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.step.active {
  background-color: #222730;
  color: white;
  transform: scale(1.1);
  font-size: 28px;
}

.step.completed {
  background-color: #dbe0e5;
  color: white;
}

.step-content {
  padding: 40px;
  animation: _ngcontent-ng-c556683372_fadeIn 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  h2{
    font-size: 44px;
    color: #ffffffd6;
  }
  p{
    font-size: 24px;
    height: 60px;
    color: white;
    font-weight: 600;
  }
  hr{
    height:3px;
    margin:10px 0px 40px 0px;
  }
  button{
    width: 140px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .stepper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .step {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .progress-bar {
    display: none; /* ou adapte-la verticalement si tu veux */
  }
}

