<div class="margin_top_130"></div>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Entreprise</th>
    <th>Contact</th>
    <th>Nombre de Stagiaires</th>
  </tr>
  </thead>
  <tbody>
    @for (demandeDevis of demandesDevis; track demandeDevis.id) {
      <tr>
        <td>{{ demandeDevis?.entrepriseName }}</td>
        <td>{{ demandeDevis?.contactFirstName }} {{ demandeDevis?.contactLastName }}</td>
        <td>{{ demandeDevis?.numberOfInterns }}</td>
      </tr>
    }
  </tbody>
</table>
