<div class="register_form_container">
  <form [formGroup]="privateLinkForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="register_form">
    <h1>Formulaire d'inscription</h1>
    <div class="floating-label">
      <label for="lastname">Nom*</label>
      <input id="lastname" type="text" placeholder=" " formControlName="lastname" required  appFloatingLabel />
      <div *ngIf="privateLinkForm.get('lastname')?.invalid && privateLinkForm.get('lastname')?.touched" class="error-message">
        Le nom est requis.
      </div>
    </div>
    <div class="floating-label">
      <label for="firstname">Prénom(s)*</label>
      <input id="firstname" type="text" placeholder=" " formControlName="firstname" required  appFloatingLabel/>
      <div *ngIf="privateLinkForm.get('firstname')?.invalid && privateLinkForm.get('firstname')?.touched" class="error-message">
        Le prénom est requis.
      </div>
    </div>
    <div class="floating-label">
      <label for="email">Adresse e-mail*</label>
      <input id="email" type="email" placeholder=" " formControlName="email" required  appFloatingLabel/>
      <div *ngIf="privateLinkForm.get('email')?.invalid && privateLinkForm.get('email')?.touched" class="error-message">
        <span *ngIf="privateLinkForm.get('email')?.errors?.['required']">L'email est requis.</span>
        <span *ngIf="privateLinkForm.get('email')?.errors?.['email']">Format d'email invalide.</span>
      </div>
    </div>
    <div class="floating-label">
      <label for="password">Mot de passe*</label>
      <input id="password" type="password" placeholder=" " formControlName="password" required  appFloatingLabel/>
      <div *ngIf="privateLinkForm.get('password')?.invalid && privateLinkForm.get('password')?.touched" class="error-message">
        <span *ngIf="privateLinkForm.get('password')?.errors?.['required']">Le mot de passe est requis.</span>
        <span *ngIf="privateLinkForm.get('password')?.errors?.['minlength']">Minimum 6 caractères.</span>
      </div>
    </div>
    <p-datepicker
      [showIcon]="false"
      [showButtonBar]="true"
      [readonlyInput]="true"
      dateFormat="dd/mm/yy"
      id="birthdatePrivateLinks"
      formControlName="birthdate"
      placeholder="Date de naissance"
    ></p-datepicker>
    <div *ngIf="privateLinkForm.get('birthDate')?.invalid && privateLinkForm.get('birthDate')?.touched" class="error-message">
      La date de naissance est requise.
    </div>
    <!--<div class="floating-label">
      <label for="birthDate">Date de naissance*</label>
      <input id="birthDate" type="date" placeholder=" " formControlName="birthDate" required  appFloatingLabel />
      <div *ngIf="privateLinkForm.get('birthDate')?.invalid && privateLinkForm.get('birthDate')?.touched" class="error-message">
        La date de naissance est requise.
      </div>
    </div>-->
    <div class="floating-label">
      <label for="telephone">Téléphone*</label>
      <input id="telephone" type="text" placeholder=" " formControlName="telephone" required  appFloatingLabel />
      <div *ngIf="privateLinkForm.get('telephone')?.invalid && privateLinkForm.get('telephone')?.touched" class="error-message">
        Le téléphone est requis.
      </div>
    </div>
    <div id="private_link_file_upload">
      <div>
        <label for="permis"><strong>Permis :</strong></label>
        <p-fileUpload
          name="permis"
            [customUpload]="true"
            (uploadHandler)="uploadFiles($event)"
            (onSelect)="onFilesChange($event, 'permis')"
            (onRemove)="onRemoveFile($event, 'permis')"
            [multiple]="true"
            [showUploadButton]="false"
            [showCancelButton]="false"
            accept=".pdf,image/*"
            chooseLabel="Choisir le fichier"
            mode="advanced"
            [maxFileSize]="5000000"
          ></p-fileUpload>
      </div>
      <div>
        <label for="carteId"><strong>Carte Id :</strong></label>
        <p-fileUpload
          name="carteId"
          [customUpload]="true"
          (uploadHandler)="uploadFiles($event)"
          (onSelect)="onFilesChange($event, 'carteId')"
          (onRemove)="onRemoveFile($event, 'carteId')"
          [multiple]="true"
          [showUploadButton]="false"
          [showCancelButton]="false"
          accept=".pdf,image/*"
          chooseLabel="Choisir le fichier"
          mode="advanced"
          [maxFileSize]="5000000"
        ></p-fileUpload>
      </div>
    </div>
  <!-- RGPD -->
    <div id="checkbox_submit">
      <div class="checkbox_register">
        <input id="acceptTerms" type="checkbox" formControlName="acceptTerms" />
        <p>
          Acceptez nos
          <a href="#" (click)="openModal($event)" style="text-decoration: underline;">
            Conditions d'utilisation
          </a>
          et notre Politique de confidentialité
        </p>
      </div>

      <div *ngIf="privateLinkForm.get('acceptTerms')?.invalid && privateLinkForm.get('acceptTerms')?.touched" class="error-message">
        Acceptez nos Conditions d'utilisation et notre Politique de confidentialité
      </div>
      <app-cgv-modal *ngIf="showModal" (accepted)="onModalAccepted()"></app-cgv-modal>

      <button type="submit" [disabled]="privateLinkForm.invalid">Envoyer</button>
    </div>
    <div *ngIf="errorMessage" class="error-message" style="margin-top: 1rem;">
      {{ errorMessage }}
    </div>
  </form>
</div>
