<div class="private_link_container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Entreprise</th>
      <th scope="col">Stage</th>
      <th scope="col">Token</th>
      <th scope="col">Date d'expiration</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let link of paginatedPrivateLinks">
      <td><h3>{{ link.entrepriseNom}}</h3></td>
      <td>
        <strong>Ville: </strong>{{ link.stageInfo.city }}<br>
        <strong> Rue: </strong>{{ link.stageInfo.street }}<br/>
        <strong>Dates :</strong> {{ link.stageInfo.startDate | date:'d':'fr' }} & {{ link.stageInfo.endDate | date:'d MMMM yyyy':'fr' }}<br>

      </td>
      <td><a [href]="WEBSITE_URL+link.entrepriseNom+'/inscription/employee/'+link.token">Lien d'inscription</a></td>
      <td>Exp: {{ link.expirationDate | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>
        <button
          class="btn"
          [ngClass]="link.isActive ? 'btn-danger' : 'btn-success'"
          (click)="toggleLinkStatus(link)">
          {{ link.isActive ? 'Désactiver' : 'Réactiver' }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <button
      [disabled]="!canGoPrev()"
      (click)="changePage(currentPage - 1)"
      class="pagination-button"
    >
      Précédent
    </button>

    <span class="pagination-info">
    Page {{ currentPage }} sur {{ totalPages() }}
  </span>

    <button
      [disabled]="!canGoNext()"
      (click)="changePage(currentPage + 1)"
      class="pagination-button"
    >
      Suivant
    </button>
  </div>
</div>
<br/>

