<div class="container">
  <h2>Liste des liens privés</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Stage</th>
      <th scope="col">Token</th>
      <th scope="col">Date d'expiration</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let link of privateLinks">
      <td>{{ link.id }}</td>
      <td>{{ link.entreprise.name }}</td>
      <td>{{ link.stage.name }}</td>
      <td>{{ link.token }}</td>
      <td>{{ link.expirationDate | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>
        <button (click)="deactivateLink(link.id)" class="btn btn-danger">Désactiver</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

