.private_link_container {
  height: auto;
  width: 50%;
  margin:0 auto;
  .table {
    margin-top: 20px;

    th {
      padding: 10px;
    }

    td {
      font-size: 16px;
      padding: 10px;
      line-height: 30px;
      text-align: center;
      width: auto;
    }
  }

  button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #f8a833;
    color: black;
    font-size: 16px;
  }
}
@media(max-width:900px){
  tbody, tr, td {
    display: block;
    width: 100vh;
  }
  th{
    display:none;
  }
}


