<div id="reinitialize_password_form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Réinitialisez votre mot de passe</h2>
    <div class="floating-label">
      <label>Nouveau mot de passe :</label>
      <input type="password" formControlName="newPassword">
    </div>
    <button type="submit" [disabled]="form.invalid">Valider</button>
  </form>

  <div class="pw_udpated_message" *ngIf="success">Mot de passe mis à jour. Redirection en cours…</div>
  <div  class="pw_udpated_message" *ngIf="error">Erreur : le lien est invalide ou expiré.</div>
</div>
