<div id="reinitialize_password_form">
<h2>Réinitialiser le mot de passe</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>Nouveau mot de passe :</label>
  <input type="password" formControlName="newPassword">
  <button type="submit" [disabled]="form.invalid">Valider</button>
</form>

<div class="pw_udpated_message" *ngIf="success">Mot de passe mis à jour. Redirection en cours…</div>
<div  class="pw_udpated_message" *ngIf="error">Erreur : le lien est invalide ou expiré.</div>
</div>
