#reinitialize_password_form{
  font-size: 16px;
  background-image: url(/pic19.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  color: white;
  backdrop-filter: blur(5px) brightness(2%);
  padding:5%;
  line-height: 30px;
  form{
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:10%;
    @media(min-width:768px)and (max-width:1439px){
      width:500px;
      margin: 0 auto 2vh;
      padding:5%;

    }
    @media(min-width:1440px){
      width:600px;
      margin: 0 auto 2vh;
      padding: 5%;
    }

  }
  input{
    @media(min-width:1440px){
      margin: 0 auto;
    }
  }
}

button{
  margin-top:20px;
}
h2{
  color: white;
  text-align:center;
  padding:16px;
}

.pw_udpated_message{
  color: white;
  font-size: 16px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 28px;
  border-radius: 10px;
  margin: 10% auto 0;
  @media(min-width:768px)and (max-width:1439px){
    width:500px;
    margin: 0 auto 2vh;
    padding:5%;

  }
  @media(min-width:1440px){
    margin: 5% auto 0;
    width:600px;
  }
}
.floating-label input {
  width: 100%;
  padding: 1.8em 28.8px 0.5em 0.5em;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}
