<header [class.scrolled]="isScrolled">
  <div class="logo_header">
    <div routerLink="/" id="logo_acf">
      <div class="yesteryear-regular">Actions Conduite France</div>
    </div>
  </div>
  <div class="header_nav_links_container">
    <button routerLink="stages/all">Stages</button>
    <button routerLink="stages-infos">Informations générales</button>
    <button routerLink="qui-sommes-nous ?">Qui nous sommes ?</button>
    <!--
      <button routerLink="b2b">Professionnels</button>

      <button routerLink="statistiques-et-législation">Statistiques et législation (SEO)</button>
      -->
    @if(!userConnected() && !companyConnected()){
    <div class="register-container" (mouseover)="openRegisterModal()" (mouseleave)="startCloseRegisterModal()">
      <button class="btn-register">S'inscrire</button>
      <div
        *ngIf="showRegisterModal"
        class="modal-container"
        [class.show]="showRegisterAnimation"
        (mouseover)="cancelCloseRegisterModal()"
        (mouseleave)="startCloseRegisterModal()"
      >
        <button (click)="selectType('PARTICULIER', $event)" routerLink="users/register" class="btn_register">
          Particulier
        </button>
        <button (click)="selectType('ENTREPRISE', $event)" routerLink="company/register" class="btn_register">
          Entreprise
        </button>
      </div>
    </div>

    <button routerLink="users/login" class="btn_login">
      Se connecter
    </button>

  }
    @else{
    @if(userConnected()?.role?.name === 'ADMIN'){
      <button routerLink="dashboard-admin">Mon espace admin</button>
    }
    @if(userConnected()?.role?.name === 'ENTREPRISE' || companyConnected()){
      <button routerLink="dashboard-company">Mon espace professionnel</button>
    }
    @if(userConnected()?.role?.name === 'PARTICULIER'){
      <button routerLink="dashboard-client">Mon espace client</button>
    }
      <button (click)="logout()">DÉCONNEXION</button>
  }
  </div>
</header>


