<header [class.scrolled]="isScrolled">
  <div class="logo_header">
    <a routerLink="/">
      <img src="/LOGO%20BLANC_small.png" alt="logo_acf">
    </a>
  </div>
  <!-- Burger menu toggle -->
  <div class="burger" (click)="toggleMobileMenu()" [class.open]="mobileMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Menu mobile -->
  <nav class="mobile-menu" [class.open]="mobileMenuOpen">
    <button routerLink="stages/all" (click)="toggleMobileMenu()">Nos stages</button>
    <button routerLink="stages-infos" (click)="toggleMobileMenu()">Infos stages</button>
    <button routerLink="qui-sommes-nous ?" (click)="toggleMobileMenu()">Qui sommes-nous ?</button>
    <!--<button routerLink="b2b" (click)="toggleMobileMenu()">Professionnels</button>
    <button routerLink="statistiques-et-législation" (click)="toggleMobileMenu()">Statistiques et législation (SEO)</button>-->

    <ng-container *ngIf="!userConnected() && !companyConnected()">
      <!-- <div class="accordion-register">
        <button (click)="toggleRegisterAccordion()" class="accordion-btn">S'inscrire</button>
        <button (click)="toggleRegisterAccordion()" class="accordion-btn">S'inscrire</button>

        <div class="panel" [class.open]="registerAccordionOpen">
          <button routerLink="particulier/register" class="btn_register" (click)="toggleMobileMenu()">Particulier</button>
          <button routerLink="company/register" class="btn_register" (click)="toggleMobileMenu()">Entreprise</button>
        </div>
      </div> -->
      <button routerLink="company/register" class="btn_register" (click)="toggleMobileMenu()">Professionnels</button>
      <button routerLink="users/login" class="btn_login" (click)="toggleMobileMenu()">Se connecter</button>
    </ng-container>

    <ng-container *ngIf="userConnected() || companyConnected()">
      <button *ngIf="userConnected()?.role?.name === 'ADMIN'" routerLink="dashboard-admin" (click)="toggleMobileMenu()">Mon espace</button>
      <button *ngIf="userConnected()?.role?.name === 'ENTREPRISE' || companyConnected()" routerLink="dashboard-company" (click)="toggleMobileMenu()">Mon espace</button>
      <button *ngIf="userConnected()?.role?.name === 'PARTICULIER'" routerLink="dashboard-client" (click)="toggleMobileMenu()">Mon espace</button>
      <button (click)="logout()">Déconnexion</button>
    </ng-container>
  </nav>

  <div class="header_nav_links_container">
    <button routerLink="stages/all" id="nos_stages">Nos stages</button>
    <button routerLink="stages-infos">Infos stages</button>
    <button routerLink="qui-sommes-nous ?">Qui sommes-nous ?</button>
   <!-- <button routerLink="b2b">Professionnels</button>
    <button routerLink="statistiques-et-législation">Statistiques et législation (SEO)</button>-->
    @if(!userConnected() && !companyConnected()){
      <div class="register-container" (mouseover)="openRegisterModal()" (mouseleave)="startCloseRegisterModal()">
        <button routerLink="company/register" class="btn-register">Professionnels</button>
        <!--<div
          *ngIf="showRegisterModal"
          class="modal-container"
          [class.show]="showRegisterAnimation"
          (mouseover)="cancelCloseRegisterModal()"
          (mouseleave)="startCloseRegisterModal()"
        >
        <button (click)="selectType('PARTICULIER', $event)" routerLink="particulier/register" class="btn_register">
          Particulier
        </button>
        <button (click)="selectType('ENTREPRISE', $event)" routerLink="company/register" class="btn_register">
          Entreprise
        </button>-->
      </div>


    <button routerLink="users/login" class="btn_login" style="border:1px solid white;border-radius:10px;padding:16px;">
      CONNEXION
    </button>


  }
    @else{
    @if(userConnected()?.role?.name === 'ADMIN'){
      <button routerLink="dashboard-admin">Mon espace</button>
    }
    @if(userConnected()?.role?.name === 'ENTREPRISE' || companyConnected()){
      <button routerLink="dashboard-company">Mon espace</button>
    }
    @if(userConnected()?.role?.name === 'PARTICULIER'){
      <button routerLink="dashboard-client">Mon espace</button>
    }
      <button (click)="logout()">DÉCONNEXION</button>
  }
  </div>
</header>


