
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #041a3a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  @media (max-width: 767px) {
    height:85px;
  }

  img{
    width: 100px;
    padding:20px 0px 0px 20px;
  }

  button{
    width: auto;
    padding: 2px;
    height: 55px;
    background: transparent;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border: none;
    margin: 0px 10px;
  }
  button:hover{
    background-color: rgba(0, 0, 0, 0.1215686275);
  }
}
.header_nav_links_container{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    font-family: Poppins-ExtraLight,serif;
  }
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
}

.register-container {
  position: relative;
  display: inline-block;
}
.login-container {
  position: relative;
  display: inline-block;
  height: 56px;
  width: 156px;
}

.btn-register {
  padding: 10px 15px;
  background-color: black;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn-register:hover {
  background-color: #0056b3;
}
.btn-login {
  padding: 10px 15px;
  background-color: black;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn-login:hover {
  background-color: #0056b3;
}


.modal-container {
  position: absolute;
  top: 100%;
  background: #222730;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  opacity: 0;

  button{
    margin:2px 0px;
  }
  button:hover{
    border:1px solid #f8a733;
  }
}

.modal-container.show {
  opacity: 1;
}

.btn {
  padding: 5px 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #1e7e34;
}

// Burger icon (visible only on small devices)
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;

  @media(min-width:1176px){
    display:none;
  }

  span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    margin-right:25px;
  }

  &.open {  // Quand le menu est ouvert, appliquer ce style
    span:nth-child(1) {
      transform: rotate(45deg);
      position: relative;
      top: 8px;
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      position: relative;
      bottom: 8px;
    }
  }
}

// Mobile menu styles
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 999;
  padding: 10px;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
  backdrop-filter: blur(36px);
  background: rgba(0, 0, 0, 0.5);

  button {
    color: white;
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
  }

  &.open {
    display: flex;
    max-height: 500px;
  }

  .accordion-register {
    .accordion-btn {
      color: white;
      padding: 10px;
      text-align: left;
      width: 100%;
      border: none;
    }

    .panel {
      display: none;
      flex-direction: column;

      button {
        margin-left:20px;
      }
      button:hover {
        margin-left:31px;
      }

      &.open {
        display: flex;
      }
    }
  }
}

// Responsive breakpoints
@media (max-width: 1175px) {
  .header_nav_links_container {
    display: none;
  }

  .burger {
    display: flex;
  }
}



