.card_stages{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(219deg, rgba(41, 44, 50, 0.7294117647), rgba(36, 43, 52, 0.9019607843), #292c32);
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 80%;
  color: #fff;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform:translate(0px,-20x);
  &:hover{
    border-left:1px solid white;
  }
}
.inscription_button{
  width: 140px;
  font-size: 20px;
  align-items: center;
  border: 1px solid white;
  color: #2d333b;
  padding: 8px;
  border-radius: 3px;
  background-color: #f8a633;

}
.details_button{
  width: 140px;
  font-size: 20px;
  align-items: center;
  background-color: #e0e4e9;
  border: 1px solid white;
  color: #2d333b;
  padding: 8px;
  border-radius: 3px;
}
.close_button {
  width: 140px;
  font-size: 20px;
  align-items: center;
  background-color: #e0e4e9;
  border: 1px solid white;
  color: #2d333b;
  padding: 8px;
  border-radius: 3px;
}

.close_button:hover {
  background-color: darkred;
}
.card-container {
  display: flex;
  flex-direction: column;
}

.card_stages {
  padding: 12px;
  font-size: 16px;
  margin: 0 auto;
}

h1{
  background-color: rgba(0, 0, 0, 0.16);
}

.card_stages_date{
  height: 100px;
  border: 1px solid #ccc;
  align-items: baseline;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.card_stages_all_datas{
  width: 80%;
  padding: 10px 20px;
}

#stage_filters{
  padding: 10px;
  border-radius: 10px;
  width:18%;
  margin:0 auto;
  float:right;
  margin-right:140px;
  box-shadow: 0px 0px 1px white;
  background:linear-gradient(219deg, rgba(41, 44, 50, 0.7294117647), rgba(36, 43, 52, 0.9019607843), #292c32);
  input{
    padding: 10px;
    border-radius: 10px;
    width:100%;
    margin:0 auto;
    margin-bottom: 10px;
    border:none;
    box-shadow: 0px 0px 1px grey;
  }
  h1{
    color:white;
    box-shadow: 0px 0px 1px white;
    border:none;
  }
}
.app-stage-details {
  margin-top: 0px; /* Espacement entre la carte et les détails */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}



