<form [formGroup]="demandeDevisCreationForm" id="demande_devis_creation_form" (ngSubmit)="handleDemandeDevisCreation()">
  <div class="floating-label">
    <input id="contactFirstName" type="text" placeholder=" " formControlName="contactFirstName" required appFloatingLabel>
    <label for="contactFirstName">Prénom du contact*</label>
  </div>
  <div class="floating-label">
    <input id="contactLastName" type="text" placeholder=" " formControlName="contactLastName" required appFloatingLabel>
    <label for="contactLastName">Nom du contact*</label>
  </div>

  <div class="floating-label">
    <input id="numberOfInterns" type="number" placeholder=" " formControlName="numberOfInterns" required appFloatingLabel>
    <label for="numberOfInterns">Nombre de stagiaires</label>
  </div>

  <div>
    <label for="message">Faites-nous part de vos besoins</label>
    <textarea id="message"
              style="padding:20px;"
              rows="5"
              cols="30"
              formControlName="message"
              >
    </textarea>

    <div class="message-info">
      <small class="char-counter">
        {{ demandeDevisCreationForm.get('message')?.value!.length || 0 }} / {{ maxMessageLength }} caractères
      </small>
      <small *ngIf="demandeDevisCreationForm.get('message')?.errors?.['maxlength']"
             class="char-error">
        Le message ne peut pas dépasser {{ maxMessageLength }} caractères
      </small>
    </div>

  </div>


  <button type="submit"> Demander devis</button>
</form>


