<form [formGroup]="demandeDevisCreationForm" id="demande_devis_creation_form" (ngSubmit)="handleDemandeDevisCreation()">
  <div>
    <label for="contactFirstName"></label>
    <input id="contactFirstName" type="text" placeholder="Prénom du contact" formControlName="contactFirstName" required>
  </div>
  <div>
    <label for="contactLastName"></label>
    <input id="contactLastName" type="text" placeholder="Nom du contact" formControlName="contactLastName" required>
  </div>

  <div>
    <label for="numberOfInterns"></label>
    <input id="numberOfInterns" type="number" placeholder="Nombre de stagiaires" formControlName="numberOfInterns" required>
  </div>
  <div>
    <label for="message"></label>
    <textarea id="message" rows="5" cols="30" placeholder="Faites-nous part de vos besoins"
              type="textArea" formControlName="message"></textarea>
    <small *ngIf="form.get('message')?.value">
      {{ form.get('message')?.value.length }} / {{ maxMessageLength }} caractères
    </small>
    <small *ngIf="form.get('message')?.errors?.['maxlength']" class="text-danger">
      Le message ne peut pas dépasser {{ maxMessageLength }} caractères
    </small>
  </div>

  <button type="submit"> Demander devis</button>
</form>
