<form [formGroup]="demandeDevisCreationForm" id="demande_devis_creation_form" (ngSubmit)="handleDemandeDevisCreation()">
  <div>
    <label for="contactFirstName"></label>
    <input id="contactFirstName" type="text" placeholder="Prénom du contact" formControlName="contactFirstName" required>
  </div>
  <div>
    <label for="contactLastName"></label>
    <input id="contactLastName" type="text" placeholder="Nom du contact" formControlName="contactLastName" required>
  </div>

  <div>
    <label for="numberOfInterns"></label>
    <input id="numberOfInterns" type="number" placeholder="Nombre de stagiaires" formControlName="numberOfInterns" required>
  </div>
  <div>
    <label for="devisText"></label>
    <textarea id="devisText" rows="5" cols="30" pTextarea formControlName="devisText"></textarea>
  </div>
  <div class="flexCenter" style="margin-top:20px;">
    <input
      id="acceptDevis"
      name="acceptDevis"
      type="checkbox"
      formControlName="acceptDevis"
      required
    />
    <span> <br/>Je suis d'accord avec les conditions RGPD</span>
  </div>

  <button type="submit"> Demander devis</button>
</form>
