<div class="dashboard_client">
  <h1>Bienvenue sur votre espace admin</h1>

  <div class="tabs">
    <button
      (click)="activeTab = 'inscriptions'"
      [class.active]="activeTab === 'inscriptions'"
    >
      Inscriptions
    </button>

    <button
      (click)="activeTab = 'stages'"
      [class.active]="activeTab === 'stages'"
    >
      Stages
    </button>
    <button
      (click)="activeTab = 'codePromo'"
      [class.active]="activeTab === 'codePromo'"
    >
      Code Promo
    </button>
    <button
      (click)="activeTab = 'demandeDevisAll'"
      [class.active]="activeTab === 'demandeDevisAll'"
    >
      Demandes de Devis
    </button>
    <button
      (click)="activeTab = 'creationDevis'"
      [class.active]="activeTab === 'creationDevis'"
    >
      Créer un devis
    </button>

    <button
      (click)="activeTab = 'Factures'"
      [class.active]="activeTab === 'Factures'"
    >
      Créer Facture
    </button>
    <button
      (click)="activeTab = 'privateLinksCreate'"
      [class.active]="activeTab === 'privateLinksCreate'"
    >
      Créer Liens privés
    </button>
    <button
      (click)="activeTab = 'privateLinksList'"
      [class.active]="activeTab === 'privateLinksList'"
    >
      Liens privés
    </button>
    <button
      (click)="activeTab = 'convocations'"
      [class.active]="activeTab === 'convocations'"
    >
      Créer Convocation
    </button>

  </div>

  <div *ngIf="activeTab === 'inscriptions'" class="tab-content">
    <app-inscription-all></app-inscription-all>
  </div>

  <div *ngIf="activeTab === 'stages'" class="tab-content">
    <app-admin-stage-all></app-admin-stage-all>
  </div>

  <div *ngIf="activeTab === 'codePromo'" class="tab-content">
    <h2>Code Promo</h2>
    <app-code-promo-create></app-code-promo-create>
  </div>

  <div *ngIf="activeTab === 'demandeDevisAll'" class="tab-content">
    <h2>Demandes de devis</h2>
    <app-demande-devis-all></app-demande-devis-all>
  </div>
  <div *ngIf="activeTab === 'creationDevis'" class="tab-content">
    <h2>Créer un devis</h2>
    <app-creation-devis></app-creation-devis>
  </div>
  <div *ngIf="activeTab === 'Factures'" class="tab-content">
    <h2>Factures</h2>
    <app-facture></app-facture>
  </div>
  <div *ngIf="activeTab === 'privateLinksCreate'" class="tab-content">
    <h2>Créer un lien privé</h2>
    <app-private-link-create></app-private-link-create>
  </div>

  <div *ngIf="activeTab === 'privateLinksList'" class="tab-content">
    <h2>Liens privés</h2>
    <app-private-link-list></app-private-link-list>
  </div>
  <div *ngIf="activeTab === 'convocations'" class="tab-content">
    <h2>Créer une convocations</h2>
    <app-convocation-create></app-convocation-create>
  </div>

</div>
