td{
  width:auto;
}
.dashboard_client{
  width:80%;
  margin:0 auto;
  padding:20px;
  h1{
    background: rgba(0, 0, 0, 0.37);
  }
  h2{
    text-align:center;
    padding:40px;
    background: rgba(0, 0, 0, 0.37);
    color:white;
  }
  td{
    text-align: center;
    height:auto;
    font-size:16px;
    padding:20px;
    line-height:30px;
    div{
        margin:0px 20px;
        line-height: 30px;
      }
    button{
      margin:0 auto;
      padding:5px;
    }
    }
  th{
    padding:20px;
  }
  tr{
    border-bottom:1px solid rgba(28, 28, 30, 1);
  }

  button{
    border:none;
    background:transparent;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
  }


  .delete-button:hover {
    background-color: #c53030;
  }
}
.tabs {
  display: flex;
  background: white;
}

.tabs button {
  padding: 10px 20px;
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  cursor: pointer;
  color: #666;
  transition: border-bottom 0.3s, color 0.3s;
}

.tabs button:hover {
  color: #000;
}

.tabs button.active {
  border-bottom: 3px solid #f8a733;
  color: #222730;
  font-weight: bold;
}

.tab-content {
  padding: 10px 0;
}




