<div class="dashboard_client">
  <h1>Bienvenue sur votre espace admin</h1>

  <div class="tabs">
    <button
      (click)="activeTab = 'demandeDevisAll'"
      [class.active]="activeTab === 'demandeDevisAll'"
    >
      Demandes de Devis
    </button>
    <button
      (click)="activeTab = 'inscriptions'"
      [class.active]="activeTab === 'inscriptions'"
    >
      Inscriptions
    </button>

    <button
      (click)="activeTab = 'stages'"
      [class.active]="activeTab === 'stages'"
    >
      Stages
    </button>
    <button
      (click)="activeTab = 'codePromo'"
      [class.active]="activeTab === 'codePromo'"
    >
      Code Promo
    </button>

    <button
      (click)="activeTab = 'Factures'"
      [class.active]="activeTab === 'Factures'"
    >
      Créer Facture
    </button>
    <button
      (click)="activeTab = 'privateLinksCreate'"
      [class.active]="activeTab === 'privateLinksCreate'"
    >
      Créer Liens privés
    </button>
    <button
      (click)="activeTab = 'privateLinksList'"
      [class.active]="activeTab === 'privateLinksList'"
    >
      Liens privés
    </button>
    <button
      (click)="activeTab = 'convocations'"
      [class.active]="activeTab === 'convocations'"
    >
      Créer Convocation
    </button>

  </div>

  <div *ngIf="activeTab === 'inscriptions'" class="tab-content" id="admin_inscriptions_tab">
    <h2>Inscriptions</h2>

    <ng-container *ngIf="inscriptions.length > 0; else noInscriptions">
      <table>
        <thead>
        <tr>
          <th>Données du stage</th>
          <th>Documents</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let inscription of inscriptions">
          <td style="text-align:left;display:flex;flex-wrap:wrap;">
            <div>
            <strong>Stagiaire: </strong>{{ inscription.userLastName }} {{ inscription.userFirstName }}<br />
            <strong>Email:</strong> {{ inscription.userEmail }}<br />
            <strong>Téléphone:</strong> {{ inscription.userPhone}}<br />
            </div>
            <br>

            <ng-container *ngIf="inscription.stageId; else loading">
              <div>
              <strong>Adresse:</strong> {{ inscription.stageCity }},
              {{ inscription.stageStreet }}<br />
              <strong>Organisation:</strong> {{ inscription.stageOrganisation }}<br />
              <strong>Date:</strong>
              {{ inscription.stageDateDebut | date: 'd MMMM yyyy' : 'fr' }} &rarr;
              {{ inscription.stageDateFin | date: 'd MMMM yyyy' : 'fr' }}<br />
              </div>
              <div>
              <strong>Type de stage:</strong> {{ inscription.stageType }}<br />
              <strong>Statut:</strong>
              {{ inscription.inscriptionStatut | inscriptionStatut }}
              </div>
            </ng-container>

            <ng-template #loading>
              <span>Chargement...</span>
            </ng-template>
          </td>

          <td style="text-align:center;">
            <ng-container *ngIf="(inscription.documents?.length || 0) > 0; else noDocuments">
              <div *ngFor="let doc of inscription.documents">
                <button class="text-primary" (click)="viewFile(doc.fileUrl)">
                  {{ doc.fileName }}
                </button>
              </div>
            </ng-container>
            <ng-template #noDocuments>
              <p style="font-size: 16px;">Pas de documents chargés</p>
            </ng-template>
          </td>

          <td>
            <button
              (click)="onDeleteInscription(inscription.id)"
              class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-xl shadow-md transition duration-200 ease-in-out flex items-center gap-2"
            >
              <i class="fas fa-trash-alt"></i>
              Supprimer
            </button>

            <button
              *ngIf="inscription.inscriptionStatut === 'EN_ATTENTE'"
              (click)="validerInscription(inscription.id)"
              class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-xl shadow-md transition duration-200 ease-in-out flex items-center gap-2"
            >
              <i class="fas fa-check"></i>
              Valider
            </button>

            <button (click)="getUserDocuments(inscription.userId)" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-xl shadow-md transition duration-200 ease-in-out flex items-center gap-2"
            >
              <i class="fas fa-check"></i>
              Vérifier documents utilisateur
            </button>
            <app-document-utilisateur
              *ngIf="modalVisible"
              [documents]="documentsPourModal"
              (close)="closeModal()"
            ></app-document-utilisateur>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>

    <ng-template #noInscriptions>
      <p>Aucune inscription trouvée.</p>
    </ng-template>
  </div>


  <div *ngIf="activeTab === 'stages'" class="tab-content">
    <h2 style="margin-bottom:0px;">Stages</h2>
    <h2>
    <button [routerLink]="['/stages/create']" style="float:right;background:white;color:black;border-radius:20px;padding:10px;font-size:16px;"> + Créer un stage</button>
    </h2>
  @if (stages.length > 0) {
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Détails</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        @for(stage of stages;track stage.id){
          <tr>
          <td style="font-size:20px;">
            <p>Capacité restante : {{ stage?.capacity }}</p>
            {{ stage?.dateDebut | date:'d':'fr' }} & {{ stage?.dateFin | date:'d MMMM yyyy':'fr' }}
          </td>
          <td style="display:flex;font-size:20px;align-items:center;">
            <div style="text-align:left;align-items:center;">
              <strong>Ville :</strong> {{ stage.city }} <br>
              <strong>Arrondissement :</strong> {{ stage.arrondissement }} <br>
              <strong>Rue :</strong> {{ stage.street }} <br>
            </div>
            <div style="text-align:left;">
              <strong>Organisation :</strong> {{ stage.organisation }} <br>
              <strong>Prix :</strong> {{ stage.price }}€ <br>
            </div>
            <ng-template #loading>
              <span>Chargement...</span>
            </ng-template>
          </td>

          <td>
            <button (click)="onUpdateStage(stage.id)">
              <fa-icon [icon]="faEdit"></fa-icon> Modifier
            </button>

            <button
              (click)="onDeleteStage(stage.id)">
            <i class="fas fa-window-close"></i>
              Supprimer
            </button>
            <br>
          </td>
      </tr>
        }
      </tbody>
    </table>
  }
  @else{
    <ng-template #noInscriptions>
      <p>Aucune inscription trouvée.</p>
    </ng-template>
  }
</div>

  <div *ngIf="activeTab === 'codePromo'" class="tab-content">
    <h2>Code Promo</h2>
    <app-code-promo-create></app-code-promo-create>
  </div>

  <div *ngIf="activeTab === 'demandeDevisAll'" class="tab-content">
    <h2>Demandes de devis</h2>
    <app-demande-devis-all></app-demande-devis-all>
  </div>
  <div *ngIf="activeTab === 'Factures'" class="tab-content">
    <h2>Factures</h2>
    <app-facture></app-facture>
  </div>
  <div *ngIf="activeTab === 'privateLinksCreate'" class="tab-content">
    <h2>Créer un lien privé</h2>
    <app-private-link-create></app-private-link-create>
  </div>

  <div *ngIf="activeTab === 'privateLinksList'" class="tab-content">
    <h2>Liens privés</h2>
    <app-private-link-list></app-private-link-list>
  </div>
  <div *ngIf="activeTab === 'convocations'" class="tab-content">
    <h2>Créer une convocations</h2>
    <app-convocation-create></app-convocation-create>
  </div>

</div>
