<div class="dashboard_client">
  <h1>Mon espace</h1>

  <div class="tabs">
    <button
      (click)="activeTab = 'inscription'"
      [class.active]="activeTab === 'inscription'"
    >
      Inscriptions
    </button>

    <button
      (click)="activeTab = 'documents'"
      [class.active]="activeTab === 'documents'"
    >
      Documents
    </button>
  </div>

  <div *ngIf="activeTab === 'inscription'" class="tab-content">
    <h2>Mes inscriptions</h2>
    @if (inscriptions.length > 0) {
      <table>
        <thead>
        <tr>
          <th style="width:auto;">Détails</th>
          <th>Type</th>
          <th>Statut</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let inscription of inscriptions">
          <td>
            <div id="agencement_details" *ngIf="inscription.id; else loading">
              <div style="margin-right:40px;">
               <p id="stageCity">Stage à {{ inscription.stageCity }}</p>
                <p>{{ inscription.stageStreet }}</p>
                <p>Numéro de stage : {{ inscription.stageNumber }}</p>
              </div>


              <div>
                Date : {{ inscription.stageDateDebut | date:'d':'fr' }} & {{ inscription.stageDateFin | date:'d MMMM yyyy':'fr' }}<br>
                Organisation : {{ inscription.stageOrganisation }}<br>
                Prix : {{ inscription.stagePrice | currency:'EUR' }}
              </div>
            </div>
            <ng-template #loading>
              <span>Chargement...</span>
            </ng-template>
          </td>
          <td>
            <div *ngIf="inscription.stageType === 'TRIBUNAL'; else checkProbatoire">
              Stage imposé par le tribunal
            </div>

            <ng-template #checkProbatoire>
              <div *ngIf="inscription.stageType === 'PROBATOIRE'; else volontaire">
                Stage probatoire
              </div>
            </ng-template>

            <ng-template #volontaire>
              <div>
                Stage volontaire
              </div>
            </ng-template>


          </td>
          <td>
            <div *ngIf="inscription.inscriptionStatut === 'EN_ATTENTE'; else checkConfirme">
              En attente de confirmation
            </div>

            <ng-template #checkConfirme>
              <div *ngIf="inscription.inscriptionStatut === 'CONFIRME'; else checkAnnule">
                Inscription validée
              </div>
            </ng-template>

            <ng-template #checkAnnule>
              <div>
                Votre inscription a été annulée. Veuillez nous contacter pour un report.
              </div>
            </ng-template>

          <!--<td>
            <button
              (click)="onDeleteInscription(inscription.id)"
              class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-xl shadow-md transition duration-200 ease-in-out flex items-center gap-2"
            >
              <i style="font-size:30px;" class="fa fa-trash"></i>
              Supprimer
            </button>
          </td>-->
        </tr>
        </tbody>
      </table>
    }
    @else{
      <ng-template #noInscriptions>
        <p>Aucune inscription trouvée.</p>
      </ng-template>
    }
  </div>
  <div *ngIf="activeTab === 'documents'" class="tab-content">
    <app-document-me></app-document-me>
  </div>
</div>
