table{
  padding: 12px;
  background: #ffffff;
  width:60%;
  margin:0 auto;
}
tr input{
  padding:12px;
  background: white;
  border:none;
  box-shadow:0px 0px 1px grey;

}
th{
  padding:12px;
  background: white;
  padding:20px;
}

#description_ligne_facture input{
  width:300px;
  border:none;
  box-shadow:0px 0px 1px grey;
  margin:10px 0px;
}
#quantité_ligne_facture input{
  width:200px;
  border:none;
  box-shadow:0px 0px 1px grey;
}
prix_unitaire_ligne_facture input{
  width:100px;
  border:none;
  box-shadow:0px 0px 1px grey;
}
total_ligne_facture input{
  width:100px;
  border:none;
  box-shadow:0px 0px 1px grey;
}
td{
  text-align:center;
  background: white;
}
button{
  padding:10px;
  border-radius:10px;
  border:none;
  box-shadow:0px 0px 1px white;
  margin-bottom:10px;
}
form{
  width: 60%;
  background: whitesmoke;
  border-radius: 10px 10px 0 0px;
}
.facture_line_adder_total_generate{
  width: 60%;
  margin: 0 auto;
  display: flex
;
  justify-content: space-between;
  background: white;
  padding: 10px 10px 0px 10px;

  h1{
    color: black;
    background: white;
    padding: 14px;
    border-radius: 10px;
    font-size: 28px;
  }
}

