table{
  padding:12px;
}
tr input{
  padding:12px;

}
th{
  padding:12px;
}

#description_ligne_facture input{
  width:300px;
}
#quantité_ligne_facture input{
  width:200px;
}
prix_unitaire_ligne_facture input{
  width:100px;
}
total_ligne_facture input{
  width:100px;
}
td{
  text-align:center;
}
