<div class="about_us_main_container">
  <!--<div routerLink="/" id="logo_about">
    <img src="/LOGO%20BLANC_small.png" alt="logo_acf" width="208" height="160">
  </div>-->
  <h1 id="about_main_title">Qui sommes-nous ?</h1>
  <hr>
  <div id="resumé" class="infos_stages_container" style="display:flex;">
    <div id="info_stages_aside_navbar">
      <nav>
        <ol id="philo">
          <li><a [routerLink]="[]" fragment="resumé">ACF en résumé</a></li>
          <li><a [routerLink]="[]" fragment="philo">Notre philosophie</a></li>
          <li><a [routerLink]="[]" fragment="results">Nos résultats</a></li>
          <li><a [routerLink]="[]" fragment="team">Notre équipe</a></li>
          <li><a [routerLink]="[]" fragment="contact">Nous contacter</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div id="info_stages_content">
    <h2>ACF en résumé</h2>
    <p>ACF Actions Conduite France organise des stages de sensibilisation à la sécurité routière. Agréé par la préfecture du Finistère depuis 2012, ce centre, dont le siège social se situe à Hanvec (29460), propose des stages de récupération de points et des stages à effectuer à la demande du Tribunal (composition pénale et ordonnance pénale) sur l'ensemble du département: Quimper, Le Faou, Landerneau et le Relecq Kehuon. Ces stages sont animés par deux animateurs agréés par l'Etat.</p>


    <div class="card">
      <h2 id="results">Notre but</h2>
      <ul>
        <li>Apporter la prise de conscience : sensibiliser les participants sur les dangers liés à la conduite et des conséquences de comportements à risque, tels que l’excès de vitesse, l’alcool au volant, l’utilisation du téléphone, etc.
        </li>
        <li>Changer les comportements : encourager une conduite plus responsable et sécuritaire
        </li>
      </ul>
    </div>
    <div class="card longer">
      <h2>Nos résultats</h2>
      <p>Tout titulaire d’un permis de conduire valide peut participer à un stage de récupération de points, à certaines conditions :</p>

      <ul>
        <li>Le permis de conduire doit être valide : il doit rester au moins un point sur le permis. Si le solde de points est à zéro, le conducteur ne peut pas s’inscrire à un stage
          Un conducteur peut participer à un stage une fois par an maximum (12 mois révolus)</li>
      </ul>
    </div>


<div id="contact_and_team">
  <h2 id="team">Notre équipe</h2>
    <ul>
      <li id="contact">Un permis de conduire valide</li>
      <li>Une pièce d’identité</li>
      <li>La convocation au stage (si reçue)</li>
    </ul>
  <h2>Nous contacter</h2>
    <ul>
      <li>06 99 74 52 20
      <li>acf-contact&#64;gmail.com</li>
    </ul>
  </div>
</div>
</div>
