.about_us_main_container{
  padding:2%;
  background-image:url("/pic19.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.infos_stages_container{
  padding:3% 0%;
  font-family: Poppins-SemiBold,serif;

  ul{
    margin:10px;
    padding:20px;

  }
  ol{
    padding: 40px;
    float: right;
    color: #222730;
    background: #f8a733;
    border-radius: 0px 0px 0px 80px;
    text-underline: #33165b;
  }
  li a{
    color:#222730;
  }
  li a:hover{
    color:white;
  }
  h2{
    padding:12px;
  }
}
#info_stages_aside_navbar {
  position: fixed;
  top: 130px;
  right: 0;
  height: 100vh; /* Assure que la navbar prenne toute la hauteur de la fenêtre */
  overflow-y: auto; /* Permet de scroller si le contenu dépasse la hauteur de la fenêtre */
}

#info_stages_content {
  margin-right: 18%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  padding: 5%;
  border-radius: 0px 80px 0px 80px;
  h2{
    font-size:54px;
    font-family: Poppins-Medium,serif;
    margin-bottom:60px;
    line-height:50px;
  }
  .card{
    width:40%;
    margin:5%;
    background: linear-gradient(234deg, #041a3a, 85%, #b41c1b);
    padding:20px;
    line-height:30px;
    font-size:20px;
    text-align:left;

  }
}


#logo_about{
  display: flex;
  justify-content: center;
}
#about_main_title{
  text-align: left;
  font-family: Poppins-SemiBold, serif;
  margin-top: 20px;
  font-size: 78px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

