.about_us_main_container{
  background-image: url(/pic19.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: center; */
  background-size: cover;

  hr{
    width: 50%;
    height: 5px;
    background: white;
  }
}
.infos_stages_container{
  padding:2% 0%;
  font-family: Poppins-SemiBold,serif;

  ul{
    margin:10px;
    padding:20px;
  }
  ol{
    width: 178px;
    padding: 35px;
    background: white;
    border-radius: 0 0 0 80px;
    margin-top: 83px;
    line-height: 30px;
    font-size: 12px;
    @media (max-width: 1023px) {
      display:none
    }
    @media (min-width: 1440px) {
      margin-top:94px;
    }
  }
  li a{
    color:#222730;
  }
  li a:hover{
    color:white;
  }
  h2{
    padding:12px;
  }
}
#info_stages_aside_navbar {
  position: fixed;
  top: 130px;
  right: 0;
  height: 100vh; /* Assure que la navbar prenne toute la hauteur de la fenêtre */
  overflow-y: auto; /* Permet de scroller si le contenu dépasse la hauteur de la fenêtre */
}

.blur{
  @media(min-width:1024px){
    padding:2%;
  }
}
#info_stages_content {
  margin-right: 18%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3%;
  border-radius: 0 80px 80px 0;
  color: white;
  font-size: 18px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(30px);
  h2{
    font-size: 54px;
    font-family: Poppins-Bold, serif;
    margin-bottom: 60px;
    line-height: 50px;
    font-style: italic;
  }
  @media (max-width: 430px) {
    display:block;
    flex-direction: column;
    margin:0;
    padding:10px;
    border-radius: 0 80px 80px 0;
    h2{
      font-size:54px;
      padding:20px;
      font-family: Poppins-Medium,serif;
      line-height:50px;
      margin-bottom:20px;
    }
    p{
      padding:20px;
    }
  }
  @media (min-width: 431px) and (max-width: 767px) {
    margin-right: 0;
    padding: 50px 20px;
    color: #ffffff;
    p{
      padding:0 20px;
    }
  }

  @media (min-width: 1440px) {
    margin-right: 18%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3%;
    border-radius: 0 80px 80px 0;
    width: 60%;
  }
  .card{
    width:40%;
    margin:5%;
    background:transparent;
    padding:20px;
    line-height:30px;
    font-size:20px;
    text-align:left;
    @media (max-width: 767px) {
      width:90%;
      margin:30px auto 0;
      h2{
        font-size:36px;
      }
    }
    @media (min-width: 1024px) and (max-width: 1439px) {
      border-radius: 0 0 34px 0;
      margin-bottom: 50px;
      padding:2%;
      font-size:16px;
      border: none;
      h2{
        font-size:48px;
        text-shadow: 0 1px 10px black;
      }
    }
  }
}


#logo_about{
  display: flex;
  justify-content: center;
}
#about_main_title{
  text-align: left;
  font-family: Poppins-ExtraBold, serif;
  margin-top: 0;
  font-size: 66px;
  color: white;
  padding: 3%;
  font-style: italic;
  @media (max-width: 430px) {
    font-size:60px;
  }
}

#contact_and_team{
  li {
    @media (max-width: 430px) {
      padding: 20px;
    }
  }
  h2{
    margin-top:40px;
    @media (max-width: 430px) {
      padding:20px;
    }
  }
}


