<div id="mdp_forgotten_container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <h2>Mot de passe oublié ?</h2>
    <h3>Envoyez votre adresse mail</h3>
    <div class="floating-label">
      <label>Email :</label>
      <input type="email" placeholder=" " formControlName="email">
    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid">Envoyer</button>
  </form>

  <div id="reinitialization_link_message" *ngIf="submitted">
    Si cet email est enregistré, un lien de réinitialisation a été envoyé.
  </div>
</div>
