<div id="mdp_forgotten_container">
  <h2>Mot de passe oublié ?</h2>
  <h3>Envoyer votre adresse mail</h3>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <label>Email :</label>
    <input type="email" placeholder="votre adresse mail" formControlName="email">
    <button type="submit" [disabled]="forgotPasswordForm.invalid">Envoyer</button>
  </form>

  <div id="reinitialization_link_message" *ngIf="submitted">
    Si cet email est enregistré, un lien de réinitialisation a été envoyé.
  </div>
</div>
