#mdp_forgotten_container{
  font-size: 16px;
  background-image: url(/pic19.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  color: white;
  backdrop-filter: blur(5px) brightness(2%);
  padding:10%;
}

button{
  margin-top:20px;
}
h2,h3{
  color: white;
  text-align:center;
  padding:3%;
}
h3{
  font-size:16px;
}
#reinitialization_link_message{
  color: white;
  font-size: 16px;
  text-align: center;
}
