<div routerLink="/" id="logo_conditions">
  <img ngSrc="/LOGO%20BLEU_small.png" alt="logo_acf" priority width="208" height="160" />
</div>

<h1 id="conditions_main_title">Conditions générales de vente</h1>
<div id="conditions_generales_container">
  <ol>
    <li>
      <h1>Objet</h1>
      <p>Les présentes Conditions Générales de Vente (CGV) régissent les modalités de réservation et de participation à des stages de sensibilisation à la sécurité routière proposés par Action Conduite France sur son site internet.
      </p>
    </li>
    <li>
  <h1>Acceptations des conditions</h1>
      <p>La validation de la commande par le Client vaut acceptation sans réserve des présentes CGV, conformément aux articles 1119 et suivants du Code civil.</p>
    </li>
    <li>
  <h1>Commande</h1>
    </li>
    <p>Le Client sélectionne un stage selon les disponibilités affichées. Toute commande est confirmée après paiement et envoi d’un email de confirmation.</p>
    <li>
    <h1>Prix et paiement</h1>
      <p>Les prix sont indiqués en euros toutes taxes comprises. Le paiement s’effectue en ligne via un moyen sécurisé. La commande est validée après encaissement effectif.</p>
    </li>
    <li>
  <h1>Droit de rétractation</h1>
      <p>
        Conformément à l'article L221-18 du Code de la consommation, le Client dispose d’un délai de 14 jours ouvrés à compter de la commande pour exercer son droit de rétractation sans avoir à justifier de motif, ni à payer de pénalité.
        Exception : Si le Client commande un stage se déroulant dans un délai inférieur à 14 jours, il renonce expressément à son droit de rétractation en acceptant les présentes CGV. Cette renonciation est matérialisée par une case à cocher obligatoire lors de la commande, conformément à l'article L221-25 du Code de la consommation.
      </p>
    </li>
    <li>
      <h1>Modalités de remboursement</h1>
  <p>En cas de rétractation dans les délais légaux, Action Conduite France rembourse intégralement toutes les sommes versées, y compris les frais de dossier, sous un délai de 14 jours maximum à compter de la réception de la demande, et via le même moyen de paiement utilisé lors de la commande.</p>
    </li>
    <li>
      <h1>Annulation - Rétractation - Remboursement</h1>
      <p><span style="color:red;">Si le Client annule son inscription après expiration du délai légal de rétractation, et que le stage n’a pas encore débuté, des frais de gestion pourront être retenus, dans la limite de 30 % du montant total de la commande.</span>
    Annulation moins de 7 jours avant le début du stage
    En cas d’annulation moins de 7 jours avant le début du stage, des frais d’annulation supplémentaires pourront être appliqués, pouvant aller jusqu’à la totalité du montant du stage, sauf en cas de force majeure dûment justifiée.
    Est considéré comme force majeure tout événement extérieur, imprévisible et irrésistible (ex. hospitalisation, décès d'un proche, intérét général), sur présentation d'un justificatif.
    Ces frais s’ajoutent, le cas échéant, aux frais de gestion prévus ci-dessus.
    En cas d'annulation du stage par Action Conduite France, le Client sera remboursé intégralement ou proposé pour un report sans frais.</p>
    </li>
    <li>
      <h1>Responsabilité</h1>
  <p>Action Conduite France ne saurait être tenue responsable de l’impossibilité d’exécuter la prestation en cas de force majeure ou de fait imputable au Client. En cas d'annulation à l'initiative d'Action Conduite France, un report ou remboursement sera proposé au Client.</p>
    </li>
    <li>
      <h1>Données personnelles</h1>
      <p>Les données personnelles collectées sont utilisées uniquement pour la gestion des commandes et ne sont en aucun cas transmises à des tiers sans le consentement du Client. Le Client dispose d’un droit d’accès, de rectification et de suppression de ses données (Loi Informatique et Libertés du 6 janvier 1978 modifiée).</p>
    </li>
    <li>
      <h1>Litiges</h1>
      <p>En cas de litige, une solution amiable sera privilégiée. À défaut d'accord amiable, les tribunaux du ressort du siège social de Action Conduite France seront seuls compétents.</p>
    </li>
  </ol>
</div>
<label>
  <input type="checkbox" [(ngModel)]="accepted" />
  J'ai lu et j'accepte les conditions
</label>

<br />

<button [disabled]="!accepted" (click)="retour()">Retour à l'inscription</button>
