<footer>
  <hr>
  <div class="footer_part1">
    <div>
      123 rue Démo<br>
      35000 Brest
      <br> <br>
      Ouverture de 9h-17h30
    </div>
    <div>
      acf-contact&#64;gmail.com<br><br><br>06 99 74 52 20
    </div>
  </div>

  <hr>

  <div class="footer_part2">
    <div class="footer_part2_copyright-and_conditions">
      <div>©copyright2025</div>
      <div><a routerLink="/Conditions générales de vente">Conditions</a></div>
    </div>
    <!--<div id="footer_links_to_social_medias">
      &lt;!&ndash;<div>Langues</div>&ndash;&gt;
      &lt;!&ndash;<button routerLink="users/login">
        <img src="/fb_nav.png">
      </button>
      <button routerLink="users/login">
        <img src="/insta_nav.png">
      </button>&ndash;&gt;
    </div>-->
  </div>

</footer>
