<footer>
  <hr>
  <div class="footer_part1">
    <div>
      123 rue Démo<br>
      35000 Brest
      <br> <br>
      Ouverture de 9h-17h30
    </div>
    <div>
      acf-contact&#64;gmail.com<br><br><br>06 99 74 52 20
    </div>
  </div>

  <hr>

  <div class="space_between">
    <div class="footer_part2">
      <div>©copyright2025</div>
      <div><a routerLink="/Conditions générales de vente">Conditions</a></div>
    </div>
      <div id="footer_links_to_social_medias">
        <div>Langues</div>
        <button routerLink="users/login">
          <img src="/fb_nav.png" style="width:60px;transform:translate(0px,15px)">
        </button>
        <button routerLink="users/login">
          <img src="/insta_nav.png" style="width:60px;transform:translate(0px,15px)">
        </button>
      </div>
    </div>

</footer>
