<!--
<footer>
  <div class="footer_part1">
    <div>
      123 rue Démo<br>
      35000 Brest
      <br> <br>
      Ouverture de 9h-17h30
    </div>
    <div>
      acf-contact&#64;gmail.com<br><br><br>06 99 74 52 20
    </div>
  </div>


  <div class="footer_part2">
    <div class="footer_part2_copyright-and_conditions">
      <div>©copyright2025</div>
      <div><a routerLink="/Conditions générales de vente">Conditions</a></div>

    </div>
    <div style="float:right;">
      <img src="/marianne4.png" id="marianne_img" alt="logo_acf">
    </div>
    &lt;!&ndash;<div id="footer_links_to_social_medias">
      &lt;!&ndash;<div>Langues</div>&ndash;&gt;
      &lt;!&ndash;<button routerLink="users/login">
        <img src="/fb_nav.png">
      </button>
      <button routerLink="users/login">
        <img src="/insta_nav.png">
      </button>&ndash;&gt;
    </div>&ndash;&gt;
  </div>

</footer>
-->

<footer>
  <div class="footer_part1">
    <div class="address">
      <i class="fas fa-map-marker-alt"></i>
      123 rue Démo, 35000 Brest
      <br> <br>
      <i class="far fa-clock"></i> Ouverture de 9h-17h30
    </div>
    <div class="contact">
      <i class="far fa-envelope"></i> acf-contact&#64;gmail.com
      <br><br>
      <i class="fas fa-phone-alt"></i> 06 99 74 52 20
    </div>
  </div>

  <hr>

  <div class="footer_part2">
    <div class="footer_part2_copyright-and_conditions">
      <div>©copyright2025</div>
      <div><a routerLink="/Conditions générales de vente">Conditions</a></div>
    </div>

    <div class="marianne-container">
      <img src="/marianne4.png" id="marianne_img" alt="logo_acf">
    </div>

   <!-- <div id="footer_links_to_social_medias">
      <button>
        <img src="/fb_nav.png" alt="Facebook">
      </button>
      <button>
        <img src="/insta_nav.png" alt="Instagram">
      </button>
    </div>-->
  </div>
</footer>
