<div class="client_doc_container">
  @for (document of documents; track document.id) {
    <div id="client_doc_container" class="document-card">
      <h1>{{ document.fileName }}</h1>

      <img
        [ngSrc]="document.fileUrl"
        width="300"
        height="200"
        alt="{{ document.fileName }}"
        class="image"
        id="image-{{ document.id }}"
      >

      <button
        class="rotate-button"
        (click)="rotateImage(document.id)"
      >
        🔄 Pivoter
      </button>
    </div>
  }
</div>
