.close_button {
  color: #383f4e;
  border: none;
  padding: 16px;
  cursor: pointer;
  height: 100px;
  align-items: center;
  font-size: 24px;
  margin-top: 24px;
  border-radius: 4px;

}

.close_button:hover {
  background-color: darkred;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.stage-details{
  display: flex;
  justify-content: center;
  background:lightgrey;
  border-radius: 15px;
  color: #fff;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 1s ease;
  flex-direction: row;
  align-items: flex-start;

  hr{
    width:300px;
  }
}

.stage_details_container1{
  padding: 20px;
  background: white;
  color: #292c32;
  line-height: 36px;
  height: 302px;
  width: 30%;
  font-family: 'Poppins-Regular',serif;
  border-radius: 0px 0px 0px 15px;
  hr{
    height: 3px;
    background: #9c7d2c;
    margin-top: 2px;
    width: 100px;
    margin-bottom: 16px;
  }
  p{
    margin-top:2px;
  }
  h2{
    text-align: left;
  }
}
#infos-stage-details{
  background-color: #041a3a;
  color: #fff;
  line-height: 39px;
  height: 302px;
  width: 30%;
  padding: 20px;
  font-family: "POPPINS-EXTRALIGHT", serif;
  font-size: 14px;
  border-radius: 0 0 15px 0;
}

.map-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 302px;
  background: transparent;
}

#map {
  height: 302px;
  width: 100% !important; /* Override inline style for responsive design */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#infos-stage-details ul {
  list-style-type: none;
  padding-left: 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .stage-details {
    flex-direction: column;
  }

  .map-container {
    width: 100%;
  }

  #map {
    width: 100% !important;
  }
}


