.inscription-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-image: url("/pic6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 100%;
  @media(max-width:767px) {
    flex-direction: column;
    height: 100%;
  }
}

#inscription_container_details {
  font-family: Poppins-Medium, serif;
  background: white;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 185px 0px;
  padding: 30px 50px;
  @media(min-width:768px) and (max-width:1023px) {
    padding:24px;
    width:40%;
    background: rgba(0, 0, 0, 0.6);
  }
  @media(max-width:767px) {
    border-radius: 0px;
    width:100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

#inscription_container_form {
  font-family: Poppins-Medium, serif;
  width: 100%;
  @media(max-width:767px) {
    height: auto;
  }
  h2{
    font-size:30px;
    padding:20px;
    @media(max-width:767px) {
      padding:30px;
    }
  }
}

// #inscription_user_datas_form{
//   backdrop-filter: blur(10px);
// }

.stage-details {
  padding: 10px 30px;
  line-height: 48px;
  color: grey;
  font-family: Poppins-SemiBold, serif;
  
  @media(min-width:768px) and (max-width:1023px) {
    width: 60%;
    padding:20px;
   color:white;
  }

  p {
    color: #041a3a;
    font-size: 18px;
    @media(max-width:1023px) {
      padding:0 20px;
      color:white;
    }
  }

  h2 {
    color: #041a3a;
    font-size: 48px;
    font-family: Poppins-Bold, serif;
    margin-bottom: 20px;
    padding:20px;
    @media(max-width:767px) {
      border-radius: 0px;
      width:100%;
      color:white;
      padding:20px;
    }
    @media(min-width:768px) and (max-width:1023px) {
     color:white;
    }
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  @media(max-width:767px) {
    padding:0;
  }


  input{
    box-shadow: 0 0 1px grey;
    border: none;
    width: 280px;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    margin: 10px auto 0;


    @media(max-width:430px) {
      width: 81%;
      border-radius: 7px;
    }
    @media(min-width:431px) and (max-width:767px) {
      width: 40%;
      border-radius: 7px;
      margin: 0.5%;
    }
    @media(min-width:768px) and (max-width:1023px) {
      width: 40%;
      border-radius: 7px;
      margin: 0.5%;
    }

    @media(min-width:1024px) {
      width: 40%;
      margin: 0.5%;
    }
  }

  #streetAndNumber,#otherNames,#password{
    @media(max-width:767px) {
      width: 81%;
      border-radius: 7px;
    }

    @media(min-width:768px) and (max-width:1023px) {
      width: 81%;
      border-radius: 7px;
    }
    @media(min-width:1024px) {
      width: 81%;
      border-radius: 7px;
    }
  }
  #stageType{
    width: 80%;
    border: 2px solid #b41c1b;
    padding: 10px 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: white;
    font-size: 16px;
    text-align: left;

    @media(min-width:431px) and (max-width:767px) {
      width: 81%;
      border-radius: 7px;
      font-size:18px;
    }
    @media(min-width:768px) and (max-width:1023px) {
      width: 81%;
      border-radius: 7px;
      font-size:18px;
    }
    @media(min-width:1024px) {
      width: 81%;
      border-radius: 7px;
    }
  }

  select{
    box-shadow: 0 0 1px grey;
    border: none;
    width: 280px;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    margin: 10px auto 0;


    @media(min-width:768px) {
      width: 40%;
      margin: 0.5%;
    }
  }

  h3{
    margin-bottom: 20px;
    margin-top:20px;
  }


  button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    padding: 12px 24px;
    font-size: 1.3rem;
    background-color: #292c32;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .submit-button {
    width: 80%;
    border:1px solid white;
    background-color:  #041a3a;;
    margin: 50px auto 100px;
    padding: 10px;
  }

  .submit-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }

  #inscription_form_files {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    @media(max-width:767px) {
      gap: 20px 80px;
    }
    h3{
      width:100%;
    }
  }

  .file-upload-section {
    width: 30%;
    #driving_license,#carteId,#lettre48n,#court_letter{
      backdrop-filter:blur(10px) !important;
      display:block;
      width:200px !important;
      margin:0 auto;
    }
    @media(max-width:767px) {
      width:300px;
    }
    @media(min-width:768px) and (max-width:1439px) {
      width:100%;
    }
  }
}

.consignes_container {
  font-size:14px;
  padding:20px 0;
  line-height: 30px;
  color:#09192f;
  @media(max-width:1023px) {
   display:none;
  }

  .format{
    padding:10px 0;
  }
  h3{
    font-weight: bold;
    font-size: 20px;
  }
  h4{
    font-size: 16px;
    margin-top:10px;
  }
}
.file-upload-section label {
  display:block;
  height:50px;
  padding:10px;
  font-size:22px;
  @media(max-width:430px){
    height:70px;
    padding:0px;
    font-size:22px;
  }
}

#codePromo{
  margin-top:60px;
}

