<div class="inscription-container">
  <!-- Formulaire d'inscription -->
  <div>

  <form id="inscription_form" [formGroup]="inscriptionCreationForm" (ngSubmit)="handleInscription()">
      <label for="stageType">Type de Stage</label>
      <select id="stageType" formControlName="stageType">
        <option value="" disabled selected>Sélectionner un type de stage</option>
        <option *ngFor="let type of stageTypes" [value]="type.value">
          {{ type.label }}
        </option>
      </select>


    <label for="documents">Chargez vos documents<br/>(lettres officielles, carte d'identité, permis de conduire)</label>
    <small class="form-text text-muted">
      Formats acceptés : PDF, JPEG, PNG.
    </small>
    <p-fileUpload
      name="documents"
      [customUpload]="true"
      (uploadHandler)="uploadFiles($event)"
      (onSelect)="onFilesChange($event)"
      [multiple]="true"
      accept=".pdf,image/*"
      [auto]="false"
      (onRemove)="onRemoveFile($event)"
      [showUploadButton]="false"
      [showCancelButton]="false"
      Width= "100"
      mode="advanced"
      chooseLabel="Choisir un fichier"
      [maxFileSize]="5000000"
    >
      <div>
      <ng-template #empty>
        <div>Glissez-déposez vos fichiers PDF ou images ici (PDF, JPG, PNG).</div>
      </ng-template>
      </div>
    <ng-template #content>
      <!--<div *ngIf="uploadedFiles?.length">
        <div *ngFor="let file of uploadedFiles" class="file-item">
          📄 {{ file.name }} ({{ file.size / 1024 | number:'1.0-0' }} Ko)
        </div>
      </div>-->
    </ng-template>
    </p-fileUpload>
    <!--<button (click)="uploadFiles()" class="btn btn-primary">Envoyer les fichiers</button>-->
    <button type="submit" [disabled]="inscriptionCreationForm.invalid || isLoading" class="submit-button">
      <ng-container *ngIf="!isLoading">S’inscrire</ng-container>
      <ng-container *ngIf="isLoading">
        <span class="spinner-inline"></span>
        <span>Chargement...</span>
      </ng-container>
    </button>
  </form>
  </div>


  <!-- Détails du stage -->
  <div class="stage-details" *ngIf="stageDetails">
    <h2>Stage à {{ stageDetails.city }}</h2>
    <hr>
    <p>📍Adresse: {{ stageDetails.street }}</p>
    <p>{{ stageDetails.arrondissement }} arrondissement</p>
    <p>📆 {{ stageDetails.dateDebut | date:'d':'fr' }} & {{ stageDetails.dateFin | date:'d MMMM yyyy':'fr' }}</p>
    <p>Organisation: {{ stageDetails.organisation }}</p>
    <p>💰Prix: {{ stageDetails.price }}€/personne</p>
  </div>
</div>
