.inscription-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-image: url("/pic6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  @media(max-width:767px) {
    flex-direction: column;
  }
}

#inscription_container_details {
  font-family: Poppins-Medium, serif;
  background: white;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 185px 0px;
  padding: 50px;
  @media(max-width:767px) {
    width: 100%;
    padding:10px;
  }
}

#inscription_container_form {
  font-family: Poppins-Medium, serif;
  width: 100%;
  height:100vh;
  padding:100px;
}

.stage-details {
  padding: 10px 30px;
  line-height: 48px;
  color: grey;
  font-family: Poppins-SemiBold, serif;

  p {
    color: #041a3a;
    font-size: 18px;
  }

  h2 {
    color: #041a3a;
    font-size: 48px;
    font-family: Poppins-Bold, serif;
    margin-bottom: 20px;
  }
}

form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  color: white;

  label {
    font-weight: 900;
    font-size: 18px;
    color: white;
    font-family: Poppins-Medium, serif;
  }

  input, select {
    box-shadow: 0 0 1px grey;
    border: none;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    margin: 0 auto;
  }

  button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    padding: 12px 24px;
    font-size: 1.3rem;
    background-color: #292c32;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .submit-button {
    width: 80%;
    border:1px solid white;
    background-color:  #041a3a;;
    margin: 50px auto 100px;
    padding: 10px;
  }

  .submit-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }

  #inscription_form_files {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    @media(max-width:767px) {
      flex-direction: column;
    }
  }

  .file-upload-section {
    width: 30%;
  }
}

.p-fileupload {
  width: 250px !important;
  background-color: black !important;
}

.p-fileupload-file {
  display: flex;
  background: rgba(0, 0, 0, 0.12);
  color: black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
}

.p-fileupload-file-name {
  color: black;
  font-size: 12px !important;
}

.p-fileupload-choose {
  background-color: black !important;
  color: white !important;
}

.p-fileupload-file-thumbnail {
  display: none;
}

.p-fileupload-buttonbar {
  margin-bottom: 0.5rem;
}
.consignes_container {
  font-size:14px;
  padding:20px 0;
  line-height: 30px;
  color:#09192f;
  .format{
    padding:10px 0;
  }
  h3{
    font-weight: bold;
    font-size: 20px;
  }
  h4{
    font-size: 16px;
    margin-top:10px;
  }
}
