<!-- Modal overlay -->
<div class="modal-overlay" (click)="closeModal()">
  <!-- Modal content -->
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeModal()" aria-label="Fermer">&times;</button>
    <h2>Documents de l'utilisateur</h2>

    <div *ngIf="documents.length > 0; else aucunDoc">
      <div *ngFor="let doc of documents" class="document-card">
        <p><strong>📄 {{ doc.fileName }}</strong></p>
       <!-- <p>Type : {{ doc.type }}</p>-->
        <a style="text-decoration: none;" [href]="doc.fileUrl" target="_blank">➡️ Voir le document</a>
      </div>
    </div>

    <ng-template #aucunDoc>
      <p>Aucun document trouvé.</p>
    </ng-template>
  </div>
</div>

