form div {
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: center;
  margin-bottom:4px;
}
h1{
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  height: auto;
  padding: 36px 160px;
}



