<div class="dashboard_client">
<!--  <h1>Bienvenue sur votre espace professionel</h1>-->
  <div class="tabs">
    <button
      (click)="activeTab = 'demandeDevis'"
      [class.active]="activeTab === 'demandeDevis'"
    >
      Demande de devis
    </button>
    <button
      (click)="activeTab = 'inscriptions'"
      [class.active]="activeTab === 'inscriptions'"
    >
      Inscriptions
    </button>
    <button
      (click)="activeTab = 'Liens privés'"
      [class.active]="activeTab === 'Liens privés'"
    >
      Liens privés
    </button>

  </div>

  <div *ngIf="activeTab === 'inscriptions'" class="tab-content">
    <h2>Inscriptions</h2>

    <ng-container *ngIf="inscriptions.length > 0; else noInscriptions">
      <table>
        <thead>
        <tr>
          <th>Données du stage</th>
          <th>Documents</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let inscription of inscriptions">
          <td style="text-align:left;display:flex;flex-wrap:wrap;">
            <div>
              <strong>Stagiaire: </strong>{{ inscription.userLastName }} {{ inscription.userFirstName }}<br />
              <strong>Email:</strong>
              <a [href]="'mailto:' + inscription?.userEmail">
                {{ inscription.userEmail }}
              </a><br />
              <strong>Téléphone:</strong> {{ inscription.userPhone}}<br />
            </div>
            <br>

            <ng-container *ngIf="inscription.stageId; else loading">
              <div>
                <strong>Adresse du stage:</strong> {{ inscription.stageCity }},
                {{ inscription.stageStreet }}<br />
                <strong>Organisation:</strong> {{ inscription.stageOrganisation }}<br />
                <strong>Date:</strong>
                {{ inscription.stageDateDebut | date: 'd MMMM yyyy' : 'fr' }} &rarr;
                {{ inscription.stageDateFin | date: 'd MMMM yyyy' : 'fr' }}<br />
              </div>
              <div>
                <strong>Type de stage:</strong> {{ inscription.stageType }}<br />
                <strong>Statut:</strong>
                {{ inscription.inscriptionStatut | inscriptionStatut }}
              </div>
            </ng-container>

            <ng-template #loading>
              <span>Chargement...</span>
            </ng-template>
          </td>

          <td style="text-align:center;">
            <ng-container *ngIf="(inscription.documents?.length || 0) > 0; else noDocuments">
              <div *ngFor="let doc of inscription.documents">
                <button class="text-primary" (click)="viewFile(doc.fileUrl)">
                  {{ doc.fileName }}
                </button>
              </div>
            </ng-container>
            <ng-template #noDocuments>
              <p style="font-size: 16px;">Pas de documents chargés</p>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>

    <ng-template #noInscriptions>
      <p>Aucune inscription trouvée.</p>
    </ng-template>
  </div>

<div *ngIf="activeTab === 'Liens privés'" class="tab-content">
  <h2>Liens privés</h2>
  @if (privateLinks.length > 0) {

    <table id="private_links_table">
      <thead>
      <tr>
        <th>Stage</th>
        <th>Lien</th>
        <th>Date d'expiration</th>
      </tr>
      </thead>

      @for(privateLink of privateLinks; track privateLink.id){
        <tr>
          <td>{{privateLink.stageInfo.city}} {{privateLink.stageInfo.street}} <br>{{privateLink.stageInfo.startDate | date:'d':'fr'}}-{{privateLink.stageInfo.endDate | date:'d/MM/yyyy':'fr'}}

          </td>
          <td>
        <div class="token-container">
          <input
            [type]="isTokenVisible ? 'text' : 'password'"
            [value]="privateLink.token"
            readonly
            class="token-input"
          />
          <a [href]="'http://localhost:4200/inscription/' + privateLink.token">Lien</a>
          <button (click)="toggleTokenVisibility()" class="eye-icon">
            <i [ngClass]="isTokenVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </button>
        </div>
          </td>

        <td>{{privateLink.expirationDate | date:'d MMMM yyyy - HH:MM':'fr'}}</td>
        </tr>
          }
    </table>
    }

    @else{
      <ng-template #loading>
        <span>Pas de lien privé</span>
      </ng-template>
    }
    </div>

    <div *ngIf="activeTab === 'demandeDevis'" class="tab-content">
      <h2>Demande de devis</h2>
      <app-demande-devis></app-demande-devis>
    <div>

  </div>
</div>
</div>
