<form #factureForm="ngForm" class="facture-form">
  <div id="form_convocation">
    <div>
      <label>Nom du stagiaire:</label>
      <input type="text" name="nom" placeholder="Nom complet" [(ngModel)]="facture.nom" required>
    </div>

    <div>
      <label>Adresse :</label>
      <input type="text" name="adresse" placeholder="Adresse postale" [(ngModel)]="facture.adresse" required>
    </div>

    <div>
      <label>Numéro de permis :</label>
      <input type="text" name="permis" placeholder="Ex: 061195100070" [(ngModel)]="facture.permis" required>
    </div>

    <div>
      <label>Date du stage :</label>
      <input type="text" name="dateStage" placeholder="Ex: Vendredi 07 Février 2025" [(ngModel)]="facture.dateStage" required>
    </div>

    <div>
      <label>Horaires :</label>
      <input type="text" name="horaires" placeholder="Ex: 08h30 à 12h30 et 13h30 à 16h30" [(ngModel)]="facture.horaires" required>
    </div>

    <div>
      <label>Lieu du stage :</label>
      <input type="text" name="lieu" placeholder="Adresse du lieu" [(ngModel)]="facture.lieu" required>
    </div>
  </div>
  <button type="button" (click)="generatePDF()">📄 Générer convocation PDF</button>

</form>
