<form #factureForm="ngForm" class="facture-form">
  <div id="form_convocation">
    <div class="floating-label">
      <input type="text" name="nom" placeholder=" " [(ngModel)]="convocation.nom" required appFloatingLabel>
      <label for="nom">Nom du stagiaire:</label>
    </div>

    <div class="floating-label">
      <input type="text" name="adresse" placeholder=" " [(ngModel)]="convocation.adresse" required appFloatingLabel>
      <label>Adresse :</label>
    </div>

    <div class="floating-label">
      <input type="text" name="permis" placeholder=" " [(ngModel)]="convocation.permis" required appFloatingLabel>
      <label>Numéro de permis :</label>
    </div>

    <div class="floating-label">
      <input type="text" name="dateStage" placeholder=" " [(ngModel)]="convocation.dateStage" required appFloatingLabel>
      <label>Date du stage</label>
    </div>

    <div class="floating-label">
      <input type="text" name="horaires" placeholder=" " [(ngModel)]="convocation.horaires" required appFloatingLabel>
      <label>Horaires </label>
    </div>

    <div class="floating-label">
      <input type="text" name="lieu" placeholder=" " [(ngModel)]="convocation.lieu" required appFloatingLabel>
      <label>Lieu du stage :</label>
    </div>
  </div>
  <button type="button" (click)="generatePDF()">📄 Générer convocation PDF</button>
</form>
<br>
<hr>
<br>

<div style="padding:0 16%;color:white;">
  <h2>Envoyer le document à l'utilisateur</h2>

  <form [formGroup]="convocationSendingForm" (ngSubmit)="handleConvocationSending()" enctype="multipart/form-data">
    <p-fileUpload
      name="Convocation"
      [customUpload]="true"
      (onSelect)="onFilesChange($event)"
      (onRemove)="onRemoveFile($event)"
      [multiple]="true"
      [showUploadButton]="false"
      [showCancelButton]="false"
      accept=".pdf,image/*"
      chooseLabel="Charger la convocation"
      mode="advanced"
      [maxFileSize]="5000000"
      id="Convocation"
    ></p-fileUpload>
    <br>
    <div class="floating-label">
      <input  id="destinataireEmail" type="email" formControlName="destinataireEmail" placeholder=" " required appFloatingLabel/>
      <label for="destinataireEmail">Email du destinataire :</label>
    </div>
    <button type="submit" [disabled]="convocationSendingForm.invalid">Envoyer</button>
  </form>
</div>



