form{
  width:100%;
  #form_convocation{
    width:600px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
  }
}
form div {
  width:40%;
  margin:20px;
}




