form{
  #form_convocation {
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap:20px;
    button{
      margin-top: 40px;
    }
    div {
      width: 45%;
      margin-top: 25px;
    }
    @media(max-width: 767px){
      width: 100%;
      div {
        width:85%;
        margin-top: 5px;
      }
    }
  }
}

label{
  @media(max-width:430px){
    display:none;
  }
}
.facture-form{
  height:100vh;
}




