<div class="home_container">
  <p>Conduisez l'esprit tranquille<br>Récupérez le contrôle</p>
  <button class="see_all_button journey_catalogue_button flexCenter">
    <a routerLink="/stages/all">Découvrir les stages</a>
  </button>
</div>

<div class="call_to_register_home_bottom_container">
  <app-stepguide></app-stepguide>
  <h2 style="text-align:center;">Vous n'avez pas de compte,<br> créez en un !</h2>
  <br>
  <div class="call_to_register_home_bottom_container_button">
    <button style="color:#383f4e;font-weight:600;" class ="see_all_button journey_catalogue_button" routerLink="users/register" >
      Je suis un particulier
    </button>
    <button style="color:#383f4e;font-weight:600;" class ="see_all_button journey_catalogue_button"  routerLink="company/register">
      Je suis une entreprise
    </button>
  </div>
</div>

