.home_container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url(/pic14.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  @media(max-width: 1024px) {
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
   /* ou remove entirely */

  p{
    font-family: CormorantGaramond-Light,serif;
    font-size:60px;
    color:white;
  }
  button{
    margin-top: 15%;
    border: 1px solid white;
    border-radius: 10px;
    background: transparent;
    padding: 7px 60px;
    backdrop-filter: blur(20px);
  }
  button a{
    color:white;
    font-family: Poppins-ExtraLight, sans-serif;
  }

  ul,li{
    padding: 10px 0px;
    font-size: 24px;
    line-height: 66px;
    text-align:center;
    margin:40px;
    color:white;
    }
  h1{
    text-align: center;
    height: auto;
    padding: 20px 15px;
    font-size: 48px;
  }
h2,h3,h4{
  font-size:24px;
  background: rgba(0, 0, 0, 0.16);
  text-align: center;
  height: auto;
  padding: 10px 0px;
}
h4{
  margin:40px;
  background: rgba(0, 0, 0, 0);
  font-size:30px;
  }
}

.planet-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;

  div {
    text-align: center;
    margin:20px 30px;
  }

  img{
     margin:0px;
  }

  p{
    color:white;
    font-size:36px;
  }
}

.text-red {
  color: #ff4d4d;
}

.text-yellow {
  color: #ffcc00;
}

.text-lightblue {
  color: #80dfff;
}
.home_journeys_catalogue{
  padding: 10px;
  background: rgba(0, 0, 0, 0.37);
  hr{
    width:50%;
    background-color: #ffb606;
    height:2px;
    margin:0 auto;
    margin-bottom:20px;
  }
  p{
    color:white;
    font-size:36px;
    text-transform: uppercase;
    font-style:italic;
    text-align:center;
    margin:10px;
  }
}

.journey_catalogue_button{
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  border: 5px double rgba(0, 0, 0, 0.1);
  width: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  background: white;
  border-radius: 10px;
&:hover{
  border: 5px double rgba(0, 0, 0, 0.2);
}
}

#main_title{
background:transparent;
width:100%;
text-align:center;
font-size:80px;
transform: rotate(-10deg);
display: inline-block;
border:none;
}

.booking_button {
width: 30%;
background: rgba(0, 0, 0, 0.1215686275);
color: white;
font-size: 30px;
border: 3px solid whitesmoke;
  &:hover {
    background: rgba(0, 0, 0, 0.37);
    border: 3px solid white;
  }
}

#infos-home-aside{
  background-color: #f8a733;
  color: #383f4e;
  text-align:left;
  width:100%;

  p{
    margin:20px;
    line-height: 30px;
    font-size: 20px;
    text-align:left;
  }
}

#home_contact_datas{
  padding:20px;
  width:100%;
  text-align:center;
  margin: 0 auto 20px;

  h2{
    background:transparent;
    border:1px solid white;
    margin-bottom:20px;
  }
}
.call_to_register_home_bottom_container{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  color: white;
  font-family: Poppins-Medium, sans-serif;

  @media (max-width: 768px) {
    background-attachment: scroll;
     /* ou remove entirely */

  }
  
  button{
  color:white;
  }
}

.call_to_register_home_bottom_container_button{
  display:flex;
  justify-content: center;
  gap:10px;
  h2{
    font-family: Poppins-Medium,serif;
    font-size:30px;
  }
  button{
    font-family: Poppins-Regular,serif;
    border:none;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
}
.second_home_container_division{
  font-size:24px;
  background-image: url(/pic6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  @media(max-width:1024px){
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  }
  .blur{
    padding: 20px 12%;
    background: linear-gradient(135deg, rgba(4, 26, 58, 0.4) 0%, rgba(4, 26, 58, 0.2) 100%);
    width: 100%;
 
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 0;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 12px;
    padding: 0;
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    font-size: 12px;
    padding: 5%;
  }
  #hr_1{
    margin:0 auto;
    height: 3px;
    width: 50%;
    background: linear-gradient(67deg, white, #041a3a, #b41c1b);
    float:left;
    @media (max-width: 767px) {
      margin: 15px auto 40px;
      width:50%;
    }
  }
}

  p{
    font-size: 20px;
    color: white;
    padding: 30px;
    font-family: Poppins-Regular, serif;
    font-weight: 900;
    text-align: left;
  }
  #action_conduite_france {
    color: white;
    padding: 10px;
    font-family: Poppins-Regular, serif;
    font-weight: 900;
    text-align: center;
  }
  .logo_header{
    text-align: center;
    img{
      width:260px;
      height:auto;
      margin:0px 0;
    }
    @media (max-width: 767px) {
      img{
        width: 130px;
        height: auto;
        margin: 20px 0;
      }
    }
    @media(min-width:768px) and (max-width: 1023px) {
      img{
        width: 160px;
        height: auto;
        margin: 20px 0;
      }
    }
    @media(min-width:1024px) and (max-width: 1439px) {
      img{
        width: 200px;
        height: auto;
        margin: 20px 0;
      }
    }
  }
  h1{
    width:100%;
    padding:0 2%;
  }
  span{
    font-size: 36px;
    color: white;
    padding: 10px;
    font-style: italic;
    font-family: Poppins-Regular, serif;
    font-weight: 900;
    @media (max-width: 767px) {
      width:100%;
      text-align:center;
      font-size: 18px;
    }
    @media(min-width:768px) and (max-width: 1023px) {
      width:100%;
      text-align:center;
      font-size: 24px;
    }
    @media(min-width:1024px) and (max-width: 1439px) {
        width:100%;
        text-align:center;
        font-size: 30px;
    }
  }
  @media (max-width: 431px) {
    width:100%;
    text-align:center;
    font-size: 16px;
  }

}
.first_home_container_division{
  color: white;
  padding:2%;
  line-height:60px;
  background:transparent;
  div {
    display: flex;
    justify-content: center;

    span {
      font-size: 36px;
      height: 200px;
      font-style: italic;
      font-weight: 900;
      margin: 30px;
    }
  }
  p {
    font-size: 60px;
    margin-top: 30px;
    @media(max-width: 1023px) {
      font-size: 40px;
      margin-top: 0;
    }
    @media(min-width:1024px) and (max-width:1440px) {
      font-size: 50px;
      margin-top: 0;
    }
  }
}

.second_home_container{
  margin-top:200px;
  color: white;
  padding:2%;
  line-height:60px;
  background:transparent;
  span{
    font-size:30px;
    height:200px;
    font-style:italic;
    font-weight: 900;margin:30px;
  }
  p{
    font-size:30px;
    margin-top: 30px;
  }
}


.step_guide{
  background-image: url(/pic19.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:right;
  padding:10%;
  @media(max-width: 1024px) {
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
  

  @media (min-width:768px) and (max-width: 1023px) {
    text-align:center;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    width: 100%;
    background: rgb(4 26 58);
    padding: 3% 7%;
    .btn-next{
      margin:140px 0;
    }
  }
}

#step_guide_home{
  background: white;
  border-radius: 20px;
  transform: translate(38%, -20%);
  background: rgb(4 26 58);
  width:100%;
  margin-top:40px;
  @media (max-width: 767px) {
    width:100%;
    text-align:center;
    margin-top:50px;
    font-size:20px;
  }
}
.second_home_container_division_content{
  border-left: double 5px white;
  width: 90%;
  margin: 20px auto 0;
  padding: 36px 50px;
  opacity:0.9;
  color:white;

  @media(max-width:767px){
    border:none;
      /* width: 100%; */
      /* margin: 20px auto 0; */
      padding: 26px 0;

      h4{
        text-align:left;
        padding:5px;
        font-size:14px;
      }
      img{
        width:20px;
        padding:1px;
      }
      p{
        padding: 5px;
        font-size:16px;
      }
      ul{
        margin-top:10px;
      }
      li{
        text-align:left;
        font-size:14px;
      }
  }
  @media(min-width:768px) and (max-width:1023px){
    border:none;
      /* width: 100%; */
      /* margin: 20px auto 0; */
      padding: 26px 0;

      h3{
        text-align:left;
        padding:5px;
        font-size:20px;
      }

      h4{
        text-align:left;
        padding:5px;
        font-size:18px;
      }
      img{
        width:20px;
        padding:1px;
      }
      p{
        padding: 5px;
        font-size:20px;
      }
      ul{
        margin-top:10px;
      }
      li{
        text-align:left;
        font-size:18px;
      }
  }

  @media(min-width:1024px) and (max-width:1440px){
      width: 90%; 
      margin: 40px auto 0;
      padding: 20px 5%;

      h3{
        text-align:left;
        padding:5px;
        font-size:24px;
      }

      h4{
        text-align:left;
        padding:5px;
        font-size:22px;
      }
      img{
        width:20px;
        padding:1px;
      }
      p{
        padding: 5px;
        font-size:24px;
      }
      ul{
        margin-top:10px;
      }
      li{
        text-align:left;
        font-size:22px;
      }
  }

  span{
    font-weight:900;
  }
  button{
    margin-top:30px;
    margin-bottom:10px;
    color:#383f4e;
    font-weight:600;
  }
  ul {
    padding:0 10%;
  }
}

p button {
  @media(max-width:767px){
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 10px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.06);
    color: white !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(32px);
  }
}


#home_account_registration{
width:100%;
display:flex;
flex-direction:column;
justify-content: center;
text-align:center;
font-size:36px;
background:#b41c1b;
padding:3% 0;
color:white;

  @media (min-width: 1025px) and (max-width: 1439px) {
    text-align:center;
    justify-content: center;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    text-align: center;
    font-size: 28px;
    justify-content: center;
  }
  @media (max-width: 767px) {
    width:100%;
    text-align:center;
    font-size:28px;
    background-image: url(/pic20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}
.height_40{
  height:60px;
  @media (max-width: 767px) {
    display:none;
  }
}
