<div class="home_container">
  <p>Conduisez l'esprit tranquille<br>Récupérez le contrôle</p>
  <button class="see_all_button journey_catalogue_button flexCenter">
    <a routerLink="/stages/all">Découvrir les stages</a>
  </button>
</div>

<hr>
<hr>
<div class="call_to_register_home_bottom_container" style="display:flex;justify-content: center;flex-wrap:wrap;">
  <app-stage-all></app-stage-all>
  <div style="width:70%">
    <app-stepguide>
    </app-stepguide>
  </div>
  <div style="width:30%;display:flex;flex-direction:column;justify-content: center">
    <h2 style="text-align:center;font-size:36px;">Je crée un compte</h2>
    <br>
    <button style="color:#383f4e;font-weight:600;" class ="see_all_button journey_catalogue_button" routerLink="users/register" >
      Je suis un particulier
    </button>
    <button style="color:#383f4e;font-weight:600;" class ="see_all_button journey_catalogue_button"  routerLink="company/register">
      Je suis une entreprise
    </button>
  </div>
</div>



