<div class="home_container">
  <div class="first_home_container_division">
    <p>Conduisez l'esprit tranquille<br>Récupérez le contrôle</p>
    <button class="see_all_button journey_catalogue_button flexCenter">
      <a routerLink="/stages/all">Découvrir les stages</a>
    </button>
  </div>
</div>
<hr>
<hr>
<hr>
<hr>


<div class="call_to_register_home_bottom_container">
  <div class="second_home_container_division">
    <div class="logo_header">
      <img ngSrc="/LOGO%20BLANC_small.png" alt="logo_acf" priority width="358" height="252">
    </div>
    <p id="action_conduite_france">
      <span style="color:#041a3a;background:white;">Action</span>
      <span style="color:white;background:#041a3a;">Conduite</span>
      <span style="color:#b41c1b;">France</span>
    </p>
    <hr>
    <div class="second_home_container_division_content">
      <p>Stages de sensibilisation à la sécurité routière</p>
      <p>Récupération de points de permis sur l'ensemble du département: Quimper, Le Faou, Landerneau et le Relecq Kehuon.</p>
    </div>
  <app-stage-all-home id="stage_all_home"></app-stage-all-home>
  </div>
  <div id="step_guide">
    <app-stepguide id="step_guide_home">
    </app-stepguide>
  </div>
  <div id="home_account_registration">
    <h2>Je crée un compte</h2>
    <br>
    <button style="color:#383f4e;font-weight:600;" class ="see_all_button journey_catalogue_button" routerLink="particulier/register" >
      Je suis un particulier
    </button>
    <button style="color:#383f4e;font-weight:600;" class ="see_all_button journey_catalogue_button"  routerLink="company/register">
      Je suis une entreprise
    </button>
  </div>
</div>



