<div class="margin_top_130"></div>
<h1>Créer un stage</h1>

<form [formGroup]="stageUpdateCreationForm" id="stage_creation_form" (ngSubmit)="handleUpdateStageCreation()">
  <!--<div>
    <label for="dateDeStage"></label>
    <input id="dateDeStage" type="date" selectionMode="range" placeholder="Date de stage" formControlName="dateDeStage" required>
  </div>-->
  <div>
    <p-datepicker
      selectionMode="range"
      id="dateDeStage"
      formControlName="dateDeStage"
      [showIcon]="true"
      [showButtonBar]="true"
      [readonlyInput]="true"
      dateFormat="dd/mm/yy"
      placeholder="Sélectionnez les dates"
      [required]="true">
    </p-datepicker>
  </div>

  <div>
    <input id="price" type="number" placeholder="prix" formControlName="price" required>
  </div>

  <div>
    <input id="city" type="text" placeholder="Ville" formControlName="city" required>
  </div>

  <div>
    <input id="street" type="text" placeholder="Rue" formControlName="street" required>
  </div>

  <div>
    <input id="arrondissement" type="text" placeholder="Arrondissement" formControlName="arrondissement" required>
  </div>

  <div>
    <input id="capacity" type="text" placeholder="Capacité" formControlName="capacity" required>
  </div>

  <div>
    <input id="organisation" type="text" placeholder="organisation" formControlName="organisation" required>
  </div>

  <button type="submit">Modifier stage</button>
</form>
<div class="see_all_button"><a  routerLink="/stages/all"> > Voir tous les stages</a></div>

