.container {
  max-width: 600px;
  margin:0 auto;
  margin-top: 50px;
}
form{
  border-radius:10px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

button {
  width: 100%;
}
form button {
  margin:40px 0px;
}
