@use 'assets/fonts/fonts.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import "primeicons/primeicons.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins-Regular',serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
  width:100%;
}

html {
  scroll-behavior: smooth;
}

form{
  padding: 10px;
  margin: 0px auto;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
form label{
  text-transform:uppercase;
  margin:30px 10px 10px 0px;
  background:transparent
}


form input,select{
  width:100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  color:black;
  &:hover{
    background:white;
  }
}
form textarea{
  min-height:60px;
}

form button{
  background-color: #3f51b5;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #303f9f;
}

button a{
  text-decoration: none;
  color:white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

table{
  h2{
    margin:30px 0;
  }
  width:100%;
  background:white;
  font-size:20px;
  border-radius:0px 0px 10px 10px;
  thead{
    background:white;
  }
  tr{

  }
  th{
    background:white;
  }
  td{

  }
}

table tr:nth-child(odd) {
  background-color: #f0f0f0;
}


table tr:nth-child(even) {
  background-color: #ffffff;
}

.flexCenter{
  width: 80%;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


.text-primary {
  color: #007bff;
}

.text-danger {
  color: #dc3545;
}

.back_button {
  padding: 20px;
  font-size: 18px;
  background: #160f35;
  opacity: 0.8;
  border:1px solid black;
}

.back_button:hover {
  background: #160f35;
  opacity: 1;
  border:1px solid whitesmoke;
}

.action-button-verify{
  background: #3f51b5;
}

.see_all_button {
  margin: 0 auto;
  width:30%;
  background: rgba(0, 0, 0, 0.1215686275);
  text-align:center;
  border:3px solid white;
  padding:10px;
  margin-top:20px;
  a{
    color: #383f4e;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover{
    color: #383f4e;
    text-decoration: none;
    font-weight: 600;
  }
}

.yesteryear-regular {
  font-family: "Yesteryear", cursive;
  font-style: italic;
}

//CARDS

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  a{
    text-decoration: none;
  }
}

.bg_white{
  background: #ffffff;
}
.bg_transparent_37{
  background: #292c32;;
}

.card {
  background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 300px;
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  p {
    font-size: 1.1em;
    line-height: 1.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    height: 67px;
  }
  img{
    height: 250px;
    border-radius: 10px;
    margin-bottom: 24px;
  }
  button{
    background: #d61b33e6;
    padding: 16px;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 15px;
    &:hover{
      background: red;
    }
    .btn_register{
      color:black;
    }
  }
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.index_img{
  width:220px;
  margin:8px 0px;
  border-radius:10px;
}


.btn_register{
  color:black;
}
.btn_login{
  color:black;
}

.margin_top_130{
  margin-top:130px;
}
#infos-stage-details{
  background-color: #f8a733;
  color: #383f4e;
  padding: 28px;
  line-height: 30px;
  border-radius: 0px;
}

.p-ripple {
  overflow: hidden;
  position: relative;
  padding: 10px !important;
  background:white;
  border:none !important;
  &:hover{
    overflow: hidden;
    position: relative;
    padding: 10px !important;
    background:white;
    border:none !important;
  }
}
.p-datepicker .p-datepicker-panel {
  min-width: 100%;
  background: transparent !important;
  height:20px;
  border-radius: 15px;
}
.p-datepicker-buttonbar {
  display: flex;
  padding:10px !important;
  border-top: 1px solid var(--p-datepicker-buttonbar-border-color);
  flex-direction: row;
  background:white !important;
  color: #292c32;
}
.p-datepicker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--p-datepicker-header-background);
  color:black !important;
  border-top: 3px solid grey !important;
  border-bottom: 3px solid grey !important;
  flex-direction: row;
  padding:20px !important;
  background:white !important;
}
.p-inputtext {
  font-feature-settings: inherit;
  font-size: 16px !important;
  padding: 2px !important;
  color:black !important;
  background: white !important;
  padding-block: var(--p-inputtext-padding-y);
  border: none !important;
  transition: background var(--p-inputtext-transition-duration), color var(--p-inputtext-transition-duration), border-color var(--p-inputtext-transition-duration), outline-color var(--p-inputtext-transition-duration), box-shadow var(--p-inputtext-transition-duration);
  appearance: none;
  border-radius: 10px !important;
  outline-color: white !important;
  height:30px !important;
  margin-right:20px !important;
  transform:translate(0px,17px);
  box-shadow: 0 0 1px grey !important;
}
.p-datepicker-day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: var(--p-datepicker-date-width);
  height: var(--p-datepicker-date-height);
  border-radius: var(--p-datepicker-date-border-radius);
  transition: background var(--p-datepicker-transition-duration), color var(--p-datepicker-transition-duration), border-color var(--p-datepicker-transition-duration), box-shadow var(--p-datepicker-transition-duration), outline-color var(--p-datepicker-transition-duration);
  border: 1px solid transparent;
  outline-color: transparent;
  color: #222730 !important;
}
.p-datepicker-day-selected {
  background: #222730 !important;
  color: white !important;
  border-radius: 25px !important;
}
.p-datepicker-day-selected {
  background: var(--p-datepicker-date-selected-background);
  color: white;
  background: #222730 !important;
  border-radius: 30px;
}
.p-datepicker-year {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: var(--p-datepicker-year-padding);
  transition: background var(--p-datepicker-transition-duration), color var(--p-datepicker-transition-duration), border-color var(--p-datepicker-transition-duration), box-shadow var(--p-datepicker-transition-duration), outline-color var(--p-datepicker-transition-duration);
  border-radius: var(--p-datepicker-year-border-radius);
  outline-color: transparent;
  color: var(--p-datepicker-date-color);
  &:hover {
    background:white !important;
  }
}
.p-datepicker-month {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: var(--p-datepicker-year-padding);
  transition: background var(--p-datepicker-transition-duration), color var(--p-datepicker-transition-duration), border-color var(--p-datepicker-transition-duration), box-shadow var(--p-datepicker-transition-duration), outline-color var(--p-datepicker-transition-duration);
  border-radius: var(--p-datepicker-year-border-radius);
  outline-color: transparent;
  color: var(--p-datepicker-date-color);
  &:hover {
    background:white !important;
  }
}
.p-datepicker:has(.p-datepicker-dropdown) .p-datepicker-input {

  color: grey !important;
  font-size: 14px !important;
  margin-left:2px !important;
  width:270px !important;
  box-shadow: 0 0 1px grey !important;
  border-radius: 10px !important;
}
.p-datepicker:has(.p-datepicker-dropdown) .p-datepicker-input:hover {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  background:transparent !important;
  box-shadow: 0 0 1px grey !important;
  border-radius: 10px;
}
.p-datepicker-dropdown {
  cursor: pointer;
  display: inline-flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-start-end-radius: var(--p-datepicker-dropdown-border-radius);
  border-end-end-radius: var(--p-datepicker-dropdown-border-radius);
  border: 1px solid var(--p-datepicker-dropdown-border-color);
  border-inline-start: 0 none;
  color: white !important;
  transition: background var(--p-datepicker-transition-duration), color var(--p-datepicker-transition-duration), border-color var(--p-datepicker-transition-duration), outline-color var(--p-datepicker-transition-duration);
  outline-color: #000;
  border-radius: 50px !important;;
  background:red!important;
  width:50px !important;
  margin-bottom:20px !important;
  height:50px !important;
  &:hover{
    background:red!important;
    opacity:0.9;
  }
}
.p-datepicker-dropdown:not(:disabled):hover {
  background: red !important;
  border-color: var(--p-datepicker-dropdown-hover-border-color);
  color: var(--p-datepicker-dropdown-hover-color);
  border-radius: 30px;
}
.p-datepicker {
  position: relative;
  max-width: 100%;
  display: inline-flex !important;
}

app-document-utilisateur {
  position: fixed !important;
  display:flex;
  flex-direction: row !important;
  background:white !important;
  top: 0;
  right: 0;
  z-index: 99999;
  height: auto;
  padding:20px;
  text-decoration:none;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding:20px;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  position: absolute;
  animation: fadeIn 0.3s ease-in-out;
  p{
    text-align: center;
  }

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .document-card {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;

    a {
      color: #007bff;
      text-decoration: underline;

      &:hover {
        color: #0056b3;
      }
    }
  }
}

.close-button {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size:44px;
  margin-top:20px;
  width:55px;
  border-radius:50px;

  &:hover {
    color: red;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 430px){

  table{
    th{
      display:none;
    }
    tr {
      margin-bottom: 20px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    td {
      position: relative;
      text-align: left;
      border: none;
      font-size:12px !important;
      h1{
        color:black;
        font-size: 24px;
        margin-bottom: 10px;
      }

      &::before {
        content: attr(data-label);
        position: absolute;
        top: 10px;
        left: 10px;
        width: 45%;
        font-weight: bold;
        color: #041a3a;
        font-family: Poppins-SemiBold, serif;
      }
    }
  }
}

.p-fileupload {
  margin-top:0;
}


.p-fileupload-choose {
  background-color: black !important;
  color: white !important;
}

.p-fileupload-file-thumbnail {
  display: none;
}

.p-fileupload-buttonbar {
  margin-bottom: 0.5rem;
}

.p-fileupload-file {
  display: block !important;
  background: rgba(0, 0, 0, 0.12);
  color: black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin: 10px 0 !important;
  @media(max-width:767px) {
    display: block !important;
  }
}

.p-fileupload-file-name {
  color: white;
  font-size: 14px !important;
  max-width: 200px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  display: inline-block !important;
  vertical-align: middle !important;
}
.p-fileupload-file-name span{
  display:none !important;
}
.p-fileupload-file-size{
  display:none !important;
}
.p-fileupload-header{
}
.p-button {
  color: white !important;
}

