<div class="card-container">
  <h1 style="color:white;">Stages à venir</h1>
  @for (stage of stageHomes; track stage.id) {
    <div class="cards_stages_and_details">
      <div class="card_stages">

        <div class="card_stages_date">
          {{ stage?.dateDebut | date:'d':'fr' }} & {{ stage?.dateFin | date:'d MMMM':'fr' }}
        </div>
        <div class="card_stages_remaining_places_and_distance">
          <h3>Places restantes:
            <strong>{{ stage?.capacity === 0 ? "Complet" : stage?.capacity }}</strong>
          </h3>
          <h3> Distance: {{ stage.distance | number:'1.1-1' }} km
          </h3>
        </div>


        <div class="card_stages_all_datas">
          <h2> STAGE {{ stage.city }}</h2>
          <hr>
          <p>{{ stage!.street }}</p>
        </div>
        <div id="stage_price">
          <h4>{{ stage.price }}€
          </h4>
        </div>

        <div id="stage_home_buttons">
          <!-- Bouton "Je m'inscris" -->
          <button class="inscription_button" [routerLink]="['/inscriptions/create',stage.id]" >Je m'inscris</button>
          <!-- Bouton Détails pour afficher les informations -->
          <button class="details_button" (click)="selectStage(stage)">
            {{ selectedStage?.id === stage.id ? 'Fermer' : 'Détails' }}
          </button>
        </div>
      </div>

      <!-- Affichage des détails en dehors de la carte, sous la carte sélectionnée -->
      <div *ngIf="selectedStage?.id === stage.id">
        <app-stage-details [stage]="selectedStage" (close)="closeDetails()"></app-stage-details>
      </div>
    </div>
  }
  <button class="see_all_stages_button">
    <a routerLink="/stages/all">Voir tous les stages</a>
  </button>
</div>



