<div class="login_form_container">
  <div class="aside_form">
    <img id="logo_register_form" ngSrc="/LOGO%20BLANC.png" alt="logo_acf" width="308" height="280">
  </div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register_form">
  <h1>Connexion</h1>
  <p>Connectez-vous pour accéder à nos produits</p>
  <div>
    <label for="email">Email : </label>
    <input id="email" name="email" placeholder="Email@mail.____" formControlName="email" required />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
      <span *ngIf="loginForm.get('email')?.errors?.['required']">Le mot de passe est requis.</span>
    </div>
  </div>
  <div>
    <label for="password">Mot de passe</label>
    <input id="password" name="password" type="password" placeholder="Mot de passe" formControlName="password" required />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
      <span *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</span>
    </div>
  </div>
  <button type="submit">Se connecter</button>
</form>
</div>



