<div class="login_form_container">
  <div class="aside_form">
    <img id="logo_register_form" ngSrc="/LOGO%20BLANC_small.png" alt="logo_acf" width="308" height="280">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register_form">
    <h1>Connexion</h1>
    <p>Connectez-vous pour accéder à nos services</p>

    <!-- Champ email -->
    <div class="floating-label">
      <input
        id="email"
        type="email"
        name="email"
        placeholder=" "
        formControlName="email"
        required
      />
      <label for="email">Email*</label>
      <div
        *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        class="error-message"
      >
      <span *ngIf="loginForm.get('email')?.errors?.['required']">
        * L'email est requis.
      </span>
        <span *ngIf="loginForm.get('email')?.errors?.['email']">
        * Format d'email invalide.
      </span>
      </div>
    </div>

    <!-- Champ mot de passe -->
    <div class="floating-label">
      <input
        id="password"
        type="password"
        name="password"
        placeholder=" "
        formControlName="password"
        required
      />
      <label for="password">Mot de passe*</label>
      <div
        *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        class="error-message"
      >
      <span *ngIf="loginForm.get('password')?.errors?.['required']">
        * Le mot de passe est requis.
      </span>
      </div>
    </div>

    <a [routerLink]="['/forgot-password']">Mot de passe oublié ?</a>

    <button type="submit" [disabled]="loginForm.invalid">
      Se connecter
    </button>
  </form>

</div>

<div class="floating-label">
  <input type="text" id="name" placeholder=" " />
  <label for="name">Votre nom</label>
</div>

