<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="margin_top_130"></div>
  <div>
    <label for="email">Email : </label>
    <input id="email" name="email" placeholder="Email@mail.____" formControlName="email" required />
  </div>
  <div>
    <label for="password">Mot de passe</label>
    <input id="password" name="password" type="password" placeholder="Mot de passe" formControlName="password" required />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
      <span *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</span>
    </div>
  </div>
 <!-- <div>
    <label for="password">Password : </label>
    <input id="password" name="password" placeholder="pass°°°d" formControlName="password" required />
  </div>-->
  <button type="submit">Se connecter</button>
</form>



