.login_form_container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  span{
    position: relative;
    bottom:10px;
    width:200px;
    color:red;
  }
  @media (max-width: 768px) {
    background-image: url(/pic20.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    h1{
      color:white;
      text-align: center;
      font-size: 35px;
    }
    span{
      float:right;
      color:red;
    }
  }
}
.register_form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-around;
  border: 0.1px solid white;
  box-shadow: 0px 0px 1px white;
  border-radius: 10px;
  width:50%;
  padding: 0px 30px;
  div{
    margin:0px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
    width:80%;
    border:none;
    box-shadow: 0px 0px 0px white;
    color:white;
  }
}
form {
  background: transparent;
  color: grey;
  padding: 40px 0px;

  h1 {
    color: #333333;
    text-align: left;
    font-family: Poppins-Medium, serif;
    font-weight: 100;
    width:80%;
    margin: 0 auto 20px;
  }

  p {
    text-align: left;
    font-family: Poppins-ExtraLight, serif;
    font-size: 12px;
    width:80%;
    margin:0 auto;
  }

  input {
    box-shadow: 0px 0px 2px grey;
    border-radius: 10px;
    font-family: Poppins-ExtraLight, serif;
    width: 80%;
    margin: 0 auto;
  }
}

button {
  box-shadow: 0px 0px 2px grey;
  border-radius: 10px;
  font-family: Poppins-ExtraLight, serif;
  width: 80%;
  margin: 60px auto 0;
}


.aside_form {
  background-image: url(/pic20.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50%;
  #logo_register_form{
    margin-top:30vh;
  }
  @media (max-width: 768px) {
    display:none;
  }

  p {
    color: whitesmoke;
    font-size: 20px;
    line-height: 50px;
  }
}
.error-message {
  font-size: 12px;
  margin-top: 5px;
  width: auto;
  transition-delay: 2s;
  position: absolute;
  transform: translate(10px, 20px);
  color: red;
}

button {
  background-color: #041a3a;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.color_black{
  color: black;
}
form div {
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
