<div class="register_form_container">
  <div class="aside_form">
    <img ngSrc="/LOGO%20BLANC_small.png" alt="logo_acf"  priority width="308" height="280" id="logo_register_form">
  </div>

  <form [formGroup]="companyRegisterForm" class="register_form" (ngSubmit)="handleCompagnyRegisterFormSubmit()">
    <h1>S'inscrire</h1>
    <p>Inscrivez-vous gratuitement pour accéder à nos produits</p>
    <!-- Nom de l'entreprise -->
    <div>
    <!--  <label for="name">Nom de l'entreprise</label>-->
      <input id="name" name="companyName" type="text" placeholder="Nom de l'entreprise" formControlName="name" required />
      <div *ngIf="companyRegisterForm.get('name')?.invalid && companyRegisterForm.get('name')?.touched" class="error-message">
        Le nom de l'entreprise est requis.
      </div>
    </div>

    <!-- Email -->
    <div>
      <!--<label for="email">Email</label>-->
      <input id="email" name="email" type="email" placeholder="email" formControlName="email" required />
      <div *ngIf="companyRegisterForm.get('email')?.invalid && companyRegisterForm.get('email')?.touched" class="error-message">
        <span *ngIf="companyRegisterForm.get('email')?.errors?.['required']">L'email est requis.</span>
        <span *ngIf="companyRegisterForm.get('email')?.errors?.['email']">L'email n'est pas valide.</span>
      </div>
    </div>

    <!-- Mot de passe -->
    <div>
      <!--<label for="password">Mot de passe</label>-->
      <input id="password" name="password" type="password" placeholder="Mot de passe" formControlName="password" required />
      <div *ngIf="companyRegisterForm.get('password')?.invalid && companyRegisterForm.get('password')?.touched" class="error-message">
        <span *ngIf="companyRegisterForm.get('password')?.errors?.['required']">Le mot de passe est requis.</span>
        <span *ngIf="companyRegisterForm.get('password')?.errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères.</span>
      </div>
    </div>
    <!-- Téléphone -->
    <div>
      <!--<label for="telephone">Téléphone :</label>-->
      <input id="telephone" type="text" placeholder="Téléphone*" formControlName="telephone" />
      <div *ngIf="companyRegisterForm.get('telephone')?.invalid && companyRegisterForm.get('telephone')?.touched" class="error-message">
        Le téléphone est requis.
      </div>
    </div>
    <!-- RGPD -->
    <div class="checkbox_register">
      <input id="acceptTerms" type="checkbox" formControlName="acceptTerms" />
      <p style="color:black; font-weight:100; font-size:10px;">
        Acceptez nos
        <a href="#" (click)="goToConditions($event)" style="text-decoration: underline;">
          Conditions d'utilisation
        </a>
        et notre Politique de confidentialité
      </p>
    </div>

    <div *ngIf="companyRegisterForm.get('acceptTerms')?.invalid && companyRegisterForm.get('acceptTerms')?.touched" class="error-message">
      Acceptez nos Conditions d'utilisation et notre Politique de confidentialité
    </div>

    <!-- Erreur serveur -->
    <div *ngIf="errorMessage" class="error-message" style="margin-top: 1rem;">
      {{ errorMessage }}
    </div>

    <!-- Bouton -->
    <button [disabled]="isLoading || companyRegisterForm.invalid" style="margin-top: 1rem;">
      {{ isLoading ? 'Création en cours...' : 'S’inscrire' }}
    </button>
    <p>Vous avez déjà un compte ?<a routerLink="/users/login">Connectez-vous</a></p>
  </form>
</div>

